---
layout: default
---

<!-- ======= Hero Section ======= -->
<section id="students_institutions_hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
        <div data-aos="zoom-out">
          <h5 class="text-white"><b>{% t pt-BR.navigation.main.slider.students_institutions_title %}</b></h5>
          <p class="text-white">{% t pt-BR.navigation.main.slider.students_institutions_subtitle %}</p>
          <div class="text-center text-lg-start">
            <a href="#" class="btn btn-primary mt-3 mb-5 scrollto">{% t pt-BR.navigation.main.btn %}</a>
          </div>
        </div>
      </div>
      <div class="col-md-7 order-1 position-relative aos-animate" data-aos="zoom-out">
        <div class="d-flex justify-content-between">
          <div class="card card_header border-3 shadow m-1">
            <div class="card-body text-center">
              <img class="mb-8" src="assets/img/icones/icone_cfazCiencia.png" alt="Ícone CfazPlus">
              <h6>{% t pt-BR.navigation.main.cfaz.ciencia %}</h6>
              <p class="text-secondary">{% t pt-BR.navigation.main.cfaz.ciencia_text %}</p>
            </div>
          </div>
          <div class="card card_header border-3 shadow m-1">
            <div class="card-body text-center">
              <img class="mb-8" src="assets/img/icones/icone_CfazMax.png" alt="Ícone CfazMax">
              <h6>{% t pt-BR.navigation.main.cfaz.max %}</h6>
              <p class="text-secondary">{% t pt-BR.navigation.main.cfaz.max_text %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Hero Section ======= -->
<section id="cfazCiencia" class="mt-64">
  <div class="container">
    <div class="row">
      <div class="col col-md-8">
        <h5 class="mb-32">{% t pt-BR.navigation.main.cfazCiencia.title %}</h5>
        <p>{% t pt-BR.navigation.main.cfazCiencia.about %}</p>
        <p class="mt-24">{% t pt-BR.navigation.main.cfazCiencia.information %}</p>
        <p class="mt-24 text-primary"><b>{% t pt-BR.navigation.main.cfazCiencia.institutions %}</b></p>
        <div class="enterprise">
          <img src="assets/img/empresas/slm.png" alt="Logomarca empresa São Leopoldo Mandic">
          <img src="assets/img/empresas/aorp.png" alt="Logomarca associação AORP">
          <img src="assets/img/empresas/lodi_uepg.png" alt="Logomarca empresa LODI UEPG">
          <img src="assets/img/empresas/usp.png" alt="Logomarca empresa USP">
          <img src="assets/img/empresas/abo.png" alt="Logomarca associação ABO">
          <img src="assets/img/empresas/unifase.png" alt="Logomarca universidade Unifase">
          <img src="assets/img/empresas/univ_tuiuti_parana.png" alt="Logomarca universidade Tuiuti do Paraná">
        </div>
      </div>
      <div class="col col-md-4 text-center">
        <img class="w-100 shadow" src="assets/img/estudantes_instituicoes_turma.png" alt="Imagens turma de alunos">
        <div class="text-center">
          <a href="#" class="btn btn-secondary mt-3 mb-5 scrollto">{% t pt-BR.navigation.main.btn %}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Frase ======= -->
<section id="phrase" class="mt-64">
  <div class="container">
    <h5 class="text-white text-center">{% t pt-BR.navigation.main.phrase.text %}</h5>
  </div>
</section>

<!-- ======= benefit ======= -->
<section id="benefit_transformation" class="mt-64">
  <div class="container">
    <h5 class="text-primary text-center mb-54">{% t pt-BR.navigation.main.benefit.title %}</h5>
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_online1.png" alt="Ícone 100% online">
          <div>
            <p class="mb-8 text-secondary"><b>{% t pt-BR.navigation.main.benefit.item1 %}</b></p>
            <p>{% t pt-BR.navigation.main.benefit.item1_text %}</p>
          </div>
        </div>

        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_pac1.png" alt="Ícone PAC online">
          <div>
            <p class="mb-8 text-secondary"><b>{% t pt-BR.navigation.main.benefit.item2 %}</b></p>
            <p>{% t pt-BR.navigation.main.benefit.item2_text %}</p>
          </div>
        </div>

        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_CfazManager1.png" alt="Ícone RIS online">
          <div>
            <p class="mb-8 text-secondary"><b>{% t pt-BR.navigation.main.benefit.item3 %}</b></p>
            <p>{% t pt-BR.navigation.main.benefit.item3_text %}</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_imagem1.png" alt="Ícone máxima qualidade de imagem">
          <div>
            <p class="mb-8 text-secondary"><b>{% t pt-BR.navigation.main.benefit.item4 %}</b></p>
            <p>{% t pt-BR.navigation.main.benefit.item4_text %}</p>
          </div>
        </div>
        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_tomografia.png" alt="Ícone mundo online">
          <div>
            <p class="mb-8 text-secondary"><b>{% t pt-BR.navigation.main.benefit.item8 %}</b></p>
            <p>{% t pt-BR.navigation.main.benefit.item8_text %}</p>
          </div>
        </div>
        <div class="d-flex align-items-start">
          <img src="assets/img/icones/icone_atendimento.png" alt="Ícone máxima qualidade de imagem">
          <div>
            <p class="mb-8 text-secondary"><b>{% t pt-BR.navigation.main.benefit.benefit_productivity.item4 %}</b></p>
            <p>{% t pt-BR.navigation.main.benefit.benefit_productivity.item4_text %}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a href="#" class="btn btn-secondary mt-3 mb-5 scrollto">{% t pt-BR.navigation.main.btn %}</a>
    </div>
  </div>
</section>

<!-- ======= Inteligência Artificial ======= -->
<section id="artificial_intelligence">
  <div class="container">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="text-primary mb-32"><b>{% t pt-BR.navigation.main.artificial_intelligence.title %}</b></h5>
        <p>{% t pt-BR.navigation.main.artificial_intelligence.subtitle %}</p>
        <div>
          <a href="#" class="btn btn-secondary mt-3 mb-5 scrollto">{% t pt-BR.navigation.main.btn %}</a>
        </div>
      </div>
      <div class="col col-md-6 text-center">
        <img src="assets/img/estudantes_instituicoes_IA.png" alt="Imagem Inteligência Artificial">
      </div>
    </div>
  </div>
</section>

<!-- ======= CfazApp ======= -->
{% include appCfaz.html %}

<!-- ======= Tomografia ======= -->
{% include tomography.html %}

<!-- ======= Fale com um de nossos consultores ======= -->
{% include contact_us.html %}