---
layout: default
---

<!-- ======= Hero Section ======= -->
<section id="students_institutions_hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
        <div data-aos="zoom-out">
          <h5 class="text-white"><b>Estudante e Instituição <br/> de Ensino</b></h5>
          <p class="text-white">Leve o Cfaz.net para sua universidade, curso de graduação, pós graduação ou especialização.</p>
          <div class="text-center text-lg-start">
            <a href="#" class="btn btn-primary mt-3 mb-5 scrollto">QUERO FALAR COM UM CONSULTOR</a>
          </div>
        </div>
      </div>
      <div class="col-md-7 order-1 position-relative aos-animate" data-aos="zoom-out">
        <div class="d-flex justify-content-between">
          <div class="card card_header border-3 shadow m-1">
            <div class="card-body text-center">
              <img class="mb-8" src="assets/img/icones/icone_cfazCiencia.png" alt="Ícone CfazPlus">
              <h6><b class="text-primary">Cfaz</b><b class="text-secondary">Ciência</b></h6>
              <p class="text-secondary">Receba um de nossos representantes em sua Instituição de Ensino.</p>
            </div>
          </div>
          <div class="card card_header border-3 shadow m-1">
            <div class="card-body text-center">
              <img class="mb-8" src="assets/img/icones/icone_CfazMax.png" alt="Ícone CfazMax">
              <h6><b class="text-primary">Cfaz</b><b class="text-secondary">Max</b></h6>
              <p class="text-secondary">Gestão, armazenamento, realização e entrega de laudos e exames de Radiologia Odontológica.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Hero Section ======= -->
<section id="cfazCiencia">
  <div class="container">
    <div class="row">
      <div class="col col-md-8">
        <h5 class="mb-32"><b class="text-primary">App</b><b>Ciência</b></h5>
        <p>O CfazCiência nasceu com o objetivo de ajudar alunos e Professores a aplicarem os conhecimentos aprendidos em sala de aula na prática, além de facilitar e otimizar o aprendizado sobre Radiologia com os benefícios da tecnologia em nuvem do Cfaz.net. </p>
        <p class="mt-24">Receba um de nossos representantes científicos para apresentar e orientar sobre a ferramenta. O Professor e cada aluno terá o seu cadastro individual na plataforma, que poderá ser acessada de casa, da instituição e de qualquer lugar.</p>
        <p class="mt-24 text-primary"><b>Instituições que utilizam Cfaz.net</b></p>
        <div class="enterprise">
          <img src="assets/img/empresas/slm.png" alt="Logomarca empresa São Leopoldo Mandic">
          <img src="assets/img/empresas/aorp.png" alt="Logomarca associação AORP">
          <img src="assets/img/empresas/lodi_uepg.png" alt="Logomarca empresa LODI UEPG">
          <img src="assets/img/empresas/usp.png" alt="Logomarca empresa USP">
          <img src="assets/img/empresas/abo.png" alt="Logomarca associação ABO">
          <img src="assets/img/empresas/unifase.png" alt="Logomarca universidade Unifase">
          <img src="assets/img/empresas/univ_tuiuti_parana.png" alt="Logomarca universidade Tuiuti do Paraná">
        </div>
      </div>
      <div class="col col-md-4 text-center">
        <img class="w-100 shadow" src="assets/img/estudantes_instituicoes_turma.png" alt="Imagens turma de alunos">
        <div class="text-center">
          <a href="#" class="btn btn-secondary mt-3 mb-5 scrollto">QUERO FALAR COM UM CONSULTOR</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Frase ======= -->
<section id="phrase">
  <div class="container">
    <h5 class="text-white text-center">Leve a <b>transformação digital</b> para a sua sala de aula e conheça os benefícios da tecnologia Cfaz.net, utilizada por mais de 1.150 clínicas e profissionais Radiologistas no Brasil e América Latina.</h5>
  </div>
</section>

<!-- ======= benefit ======= -->
<section id="benefit">
  <div class="container">
    <h5 class="text-primary text-center mb-54">Leve a <b>transformação digital</b> para o seu negócio</h5>
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_online1.png" alt="Ícone 100% online">
          <div>
            <p class="mb-8 text-secondary"><b>O CFAZ.NET NASCEU COMO O 1º SISTEMA 100% ONLINE PARA A RADIOLOGIA</b></p>
            <p>A experiência é simplificada desde o início, garantindo mais agilidade e eficiência para a realização de exames e para a gestão da clínica ou centro médico.</p>
          </div>
        </div>

        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_pac1.png" alt="Ícone PAC online">
          <div>
            <p class="mb-8 text-secondary"><b>PACS ONLINE</b></p>
            <p>Integração DICOM com todos aparelhos do mercado e armazenamento 100% seguro na Nuvem, graças à infraestrutura fornecida pela Google Cloud Platform.</p>
          </div>
        </div>

        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_CfazManager1.png" alt="Ícone RIS online">
          <div>
            <p class="mb-8 text-secondary"><b>RIS ONLINE</b></p>
            <p>Agendamentos, PEP (Prontuário Eletrônico do Paciente), Integração com qualquer equipamento que utilize o protocolo DICOM (PACS/Worklist), Gestão Financeira, Controle de Convênios e Glosas, tudo pode ser acessado de qualquer lugar pelos administradores da clínica.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_imagem1.png" alt="Ícone máxima qualidade de imagem">
          <div>
            <p class="mb-8 text-secondary"><b>MÁXIMA QUALIDADE DA IMAGEM</b></p>
            <p>Somos o único sistema de gestão para Radiologia que oferece armazenamento de imagens e exames com 100% da qualidade original.</p>
          </div>
        </div>
        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_tomografia.png" alt="Ícone mundo online">
          <div>
            <p class="mb-8 text-secondary"><b>TOMOGRAFIA</b></p>
            <p>Armazenamento e distribuição de tomografias 100% online, além de visualizador com reconstrução volumétrica MPR (Multiplanar Reconstruction)</p>
          </div>
        </div>
        <div class="d-flex align-items-start">
          <img src="assets/img/icones/icone_atendimento.png" alt="Ícone máxima qualidade de imagem">
          <div>
            <p class="mb-8 text-secondary"><b>EXCELÊNCIA NO ATENDIMENTO</b></p>
            <p>Um time qualificado e multidisciplinar realiza o nosso atendimento de forma humanizada, em tempo real, via Whatsapp, telefone, e-mail ou ainda Chat Direto no sistema.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a href="#" class="btn btn-secondary mt-3 mb-5 scrollto">QUERO FALAR COM UM CONSULTOR</a>
    </div>
  </div>
</section>

<!-- ======= Inteligência Artificial ======= -->
<section id="artificial_intelligence">
  <div class="container">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="text-primary mb-32"><b>Tecnologia desenvolvida pelo nosso time de Engenharia</b></h5>
        <p>A Inteligência Artificial da Cfaz está presente em nossa ferramenta de Traçados Cefalométricos - para a Radiologia Odontológica - e na Identificação Automática de Imagens para montagem de templates. O Radiologista reduz o tempo gasto para realizar um traçado, economiza recursos e pode focar no que realmente importa: a saúde do paciente e o desenvolvimento do seu negócio.</p>
        <div>
          <a href="#" class="btn btn-secondary mt-3 mb-5 scrollto">QUERO FALAR COM UM CONSULTOR</a>
        </div>
      </div>
      <div class="col col-md-6 text-center">
        <img src="assets/img/estudantes_instituicoes_IA.png" alt="Imagem Inteligência Artificial">
      </div>
    </div>
  </div>
</section>

<!-- ======= CfazApp ======= -->
{% include appCfaz.html %}

<!-- ======= Tomografia ======= -->
{% include tomography.html %}

<!-- ======= Fale com um de nossos consultores ======= -->
{% include faleConosco.html %}