---
layout: default
---

<!-- ======= Hero ======= -->
<section id="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-8 pt-5 order-2 order-lg-1 d-flex align-items-center">
        <div data-aos="zoom-out">
          <h5 class="text-white"><b>{% t navigation.main.slider.index_title %}</b></h5>
          <p class="text-white mt-8">{% t navigation.main.slider.index_subtitle %}</p>
          <div class="text-lg-start">
            <a class="btn btn-primary mb-8 mt-16" data-bs-toggle="modal" data-bs-target="#contact_modal">{% t navigation.main.btn %}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 order-1 position-relative mobile-none" data-aos="zoom-out">
        <img class="col-lg-12 position-absolute" src="assets/img/headers/home_nuvem.png" class="img-fluid" alt="Nuvem da header">
        <img class="col-lg-12 position-absolute mt-48 animated" src="assets/img/headers/home_notebook.webp" class="img-fluid" alt="Notebook da header">
      </div>
    </div>
  </div>
</section>

<!-- ======= Sobre a Cfaz ======= -->
<!-- <section id="about" class="mt-64">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 aos-init" data-aos="fade-right">
        <h5>{% t navigation.main.about.title %}</h5>
        <p class="mt-32">{%t navigation.main.about.subtitle %}</p>
        <p class="mt-40 mb-16"><a href="sobre.html" class="text-primary hover_underline"><b>{% t navigation.main.about.read_more %}</b></a></p>
      </div>
      <div class="col-md-6 col-sm-12 text-right" data-aos="fade-left">
        <div style="width: 100%; height: 250px; background-color: gray; margin-left: auto; margin-right: auto;">
          video
        </div>
        <div class="text-center">
          <a class="btn btn-secondary mb-8 mt-16" data-bs-toggle="modal" data-bs-target="#contact_modal">{% t navigation.main.btn %}</a>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- ======= Soluções ======= -->
<section id="solutions" class="mt-64">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-32" data-aos="fade-up">
        <h5>{% t navigation.main.solutions.health %}</h5>
        <p>{% t navigation.main.solutions.health_text %}</p>
      </div>
      <div class="col-md-4 mt-32" data-aos="zoom-in-up" data-aos-delay="300">
        <a href="radiologia_odontologica.html" class="card border-3 shadow">
          <div class="card-body text-center">
            <h6 class="text-primary mb-8"><b>{% t navigation.main.solutions.dental_radiology %}</b></h6>
            <p class="mb-8">{% t navigation.main.solutions.dental_radiology_text %}</p>
          </div>
          <div class="card-footer text-center">
            <p class="text-primary"><b>{% t navigation.main.solutions.view_more %}</b></p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mt-32" data-aos="zoom-in-up" data-aos-delay="300">
        <a href="centros_medicos.html" class="card border-3 shadow">
          <div class="card-body text-center">
            <h6 class="text-primary mb-8"><b>{% t navigation.main.solutions.medical_centers %}</b></h6>
            <p class="mb-8">{% t navigation.main.solutions.medical_center_text %}</p>
          </div>
          <div class="card-footer text-center">
            <p class="text-primary"><b>{% t navigation.main.solutions.view_more %}</b></p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mt-32" data-aos="zoom-in-up" data-aos-delay="300">
        <a href="telerradiologia.html" class="card border-3 shadow">
          <div class="card-body text-center">
            <h6 class="text-primary mb-8"><b>{% t navigation.main.solutions.teleradiology %}</b></h6>
            <p class="mb-8">{% t navigation.main.solutions.teleradiology_text %}</p>
          </div>
          <div class="card-footer text-center">
            <p class="text-primary"><b>{% t navigation.main.solutions.view_more %}</b></p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mt-32" data-aos="zoom-in-up" data-aos-delay="300">
        <a href="odontologia.html" class="card border-3 shadow">
          <div class="card-body text-center">
            <h6 class="text-primary mb-8"><b>{% t navigation.main.solutions.odontology %}</b></h6>
            <p class="mb-8">{% t navigation.main.solutions.odontology_text %}</p>
          </div>
          <div class="card-footer text-center">
            <p class="text-primary"><b>{% t navigation.main.solutions.view_more %}</b></p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mt-32" data-aos="zoom-in-up" data-aos-delay="300">
        <a href="estudantes_instituicoes.html" class="card border-3 shadow">
          <div class="card-body text-center">
            <h6 class="text-primary mb-8"><b>{% t navigation.main.solutions.students_institutions %}</b></h6>
            <p class="mb-8">{% t navigation.main.solutions.students_institutions_text %}</p>
          </div>
          <div class="card-footer text-center">
            <p class="text-primary"><b>{% t navigation.main.solutions.view_more %}</b></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- ======= Depoimentos ======= -->
<section id="testimony" class="mt-64 pt-40 pb-40 bg-primary">
  <div class="container">
    <h5 class="text-white text-center" data-aos="zoom-out"><b>{% t navigation.main.testimony.title %}</b></h5>
    <div class="testimonials-slider swiper-container text-center" data-aos="zoom-out">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="d-flex align-items-center justify-content-center text-white mt-40 mb-40">
              <img src="assets/img/depoimentos/Depoimentos_Guilherme.webp" width="60" height="60" class="testimonial-img" alt="Depoimento de Guilherme, diretor das Clínicas Imagem e Odontologia Digital">
              <p class="text-white m-0 text-start">{% t navigation.main.testimony.testimony1 %}</p>
            </div>  
            <p class="text-white">
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>{% t navigation.main.testimony.testimony_text1 %}<i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="d-flex align-items-center justify-content-center text-white mt-40 mb-40">
              <img src="assets/img/depoimentos/Depoimentos_Maria-Betania.webp" class="testimonial-img" alt="Depoimento de Guilherme, diretor das Clínicas Imagem e Odontologia Digital">
              <p class="text-white m-0 text-start">{% t navigation.main.testimony.testimony2 %}</p>
            </div>  
            <p class="text-white">
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>{% t navigation.main.testimony.testimony_text2 %}<i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="d-flex align-items-center justify-content-center text-white mt-40 mb-40">
              <img src="assets/img/depoimentos/Depoimentos_Pedro.webp" class="testimonial-img" alt="Depoimento de Guilherme, diretor das Clínicas Imagem e Odontologia Digital">
              <p class="text-white m-0 text-start">{% t navigation.main.testimony.testimony3 %}</p>
            </div>  
            <p class="text-white">
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>{% t navigation.main.testimony.testimony_text3 %}<i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="d-flex align-items-center justify-content-center text-white mt-40 mb-40">
              <img src="assets/img/depoimentos/Depoimentos_Larissa.webp" class="testimonial-img" alt="Depoimento de Guilherme, diretor das Clínicas Imagem e Odontologia Digital">
              <p class="text-white m-0 text-start">{% t navigation.main.testimony.testimony4 %}</p>
            </div>  
            <p class="text-white">
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>{% t navigation.main.testimony.testimony_text4 %}<i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="d-flex align-items-center justify-content-center text-white mt-40 mb-40">
              <img src="assets/img/depoimentos/Depoimentos_Angela.webp" class="testimonial-img" alt="Depoimento de Guilherme, diretor das Clínicas Imagem e Odontologia Digital">
              <p class="text-white m-0 text-start">{% t navigation.main.testimony.testimony5 %}</p>
            </div>  
            <p class="text-white">
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>{% t navigation.main.testimony.testimony_text5 %}<i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="d-flex align-items-center justify-content-center text-white mt-40 mb-40">
              <img src="assets/img/depoimentos/Depoimentos_Patrícia.webp" class="testimonial-img" alt="Depoimento de Guilherme, diretor das Clínicas Imagem e Odontologia Digital">
              <p class="text-white m-0 text-start">{% t navigation.main.testimony.testimony6 %}</p>
            </div>  
            <p class="text-white">
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>{% t navigation.main.testimony.testimony_text6 %}<i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  
</section>

<!-- ======= Fale com um de nossos consultores ======= -->
{% include contact_us.html %}

<!-- ======= Benefícios ======= -->
<section id="benefit_home" class="mt-64">
  <div class="container">
    <h5 class="text-white text-center mb-54" data-aos="zoom-out">{% t navigation.main.benefit.title %}</h5>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="d-flex align-items-start mb-32" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/icones/icone_online.png" alt="Ícone 100% online">
          <div>
            <p class="text-white mb-8"><b>{% t navigation.main.benefit.item1 %}</b></p>
            <p class="text-white mb-0">{% t navigation.main.benefit.item1_text %}</p>
          </div>
        </div>

        <div class="d-flex align-items-start mb-32" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/icones/icone_pac.png" alt="Ícone PAC online">
          <div>
            <p class="text-white"><b>{% t navigation.main.benefit.item2 %}</b></p>
            <p class="text-white mb-0">{% t navigation.main.benefit.item2_text %}</p>
          </div>
        </div>

        <div class="d-flex align-items-start mb-32" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/icones/icone_CfazManager.png" alt="Ícone RIS online">
          <div>
            <p class="text-white"><b>{% t navigation.main.benefit.item3 %}</b></p>
            <p class="text-white mb-0">{% t navigation.main.benefit.item3_text %}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="d-flex align-items-start mb-32" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/icones/icone_imagem.png" alt="Ícone máxima qualidade de imagem">
          <div>
            <p class="text-white"><b>{% t navigation.main.benefit.item4 %}</b></p>
            <p class="text-white mb-0">{% t navigation.main.benefit.item4_text %}</p>
          </div>
        </div>
        <div class="d-flex align-items-start mb-32" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/icones/icone_dicon.png" alt="Ícone DICOM">
          <div>
            <p class="text-white"><b>{% t navigation.main.benefit.item5 %}</b></p>
            <p class="text-white mb-0">{% t navigation.main.benefit.item5_text %}</p>
          </div>
        </div>
        <div class="d-flex align-items-start mb-32" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/icones/icone_STL.png" alt="Ícone mundo online">
          <div>
            <p class="text-white"><b>{% t navigation.main.benefit.item6 %}</b></p>
            <p class="text-white mb-0">{% t navigation.main.benefit.item6_text %}</p>
          </div>
        </div>
        <div class="d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/icones/icone_redes.png" alt="Ícone mundo online">
          <div>
            <p class="text-white"><b>{% t navigation.main.benefit.item7 %}</b></p>
            <p class="text-white mb-0">{% t navigation.main.benefit.item7_text %}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-40" data-aos="zoom-out">
      <a class="btn btn-primary mb-8 mt-16" data-bs-toggle="modal" data-bs-target="#contact_modal">{% t navigation.main.btn %}</a>
    </div>
  </div>
</section>

<!-- ======= Inteligência Artificial ======= -->
{% include artificial_intelligence.html %}

<!-- ======= Tomografia ======= -->
{% include tomography.html %}

<!-- ======= Telerradiologia ======= -->
<section id="teleradiology" class="mt-64">
  <div class="container">
      <h5 class="text-white text-center mb-32" data-aos="zoom-in">{% t navigation.main.teleradiology.title %}</h5>
      <div class="row d-flex justify-content-center" data-aos="zoom-in">
        <div class="col-md-5 col-sm-12 card mt-8">
          <h5 class="mb-0">{% t navigation.main.teleradiology.cfaz_business %}</h5>
          <span></span>
          <p>{% t navigation.main.teleradiology.cfaz_business_text %}</p>
        </div>
        <div class="col-md-5 col-sm-12 card mt-8">
          <h5 class="mb-0">{% t navigation.main.teleradiology.cfaz_job %}</h5>
          <span></span>
          <p>{% t navigation.main.teleradiology.cfaz_job_text %}</p>
          <a class="text-primary mt-24 hover_underline" href="#">{% t navigation.main.teleradiology.know_more %}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= CfazApp ======= -->
<section id="appCfaz" class="mt-64">
  <div class="container">
    <div class="row mobile-reverse">
      <div class="col-md-6 col-12" data-aos="fade-right">
        <img src="assets/img/cfazApp.webp" alt="Imagens CfazMax no Aplicativo">
      </div>
      <div class="col-md-6 col-12 text-end" data-aos="fade-up">
        <h5 class="mb-32">{% t navigation.main.appCfaz.title %}</h5>
        <p>{% t navigation.main.appCfaz.subtitle %}</p>
        <div class="text-end mobile-none">
          <a class="btn btn-secondary mb-8 mt-16" data-bs-toggle="modal" data-bs-target="#contact_modal">{% t navigation.main.btn %}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Programa de benefícios ======= -->
<section id="benefits_program" class="mt-64">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h5 class="text-primary mb-32" data-aos="zoom-out">{% t navigation.main.benefits_program.text %}</h5>
        <div class="text-start" data-aos="fade-right">
          <a class="btn btn-secondary mb-8 mt-16" data-bs-toggle="modal" data-bs-target="#contact_modal">{% t navigation.main.btn %}</a>
        </div>
      </div>
      <div class="col-md-4 text-center mobile-none" data-aos="fade-left">
        <img src="assets/img/icones/icone_beneficios.png" alt="Ícone programa de benefícios">
      </div>
    </div>
  </div>

  <!-- Parceiros -->
  <div class="partners-container">
    <div class="container">
      <small><b>PARCEIROS</b></small>
      <div class="swiper-container partners mt-8">
        <div class="swiper-wrapper">
          <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
            <img src="assets/img/empresas_programa_beneficios/CI Vatech.png" alt="Empresa participante do programa de benefícios"> 
          </div>
          <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
            <img src="assets/img/empresas_programa_beneficios/carestream-dental-logo.png" alt="Empresa participante do programa de benefícios"> 
          </div>
          <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
            <img src="assets/img/empresas_programa_beneficios/3dmdigital_azul.png" alt="Empresa participante do programa de benefícios"> 
          </div>
          <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
            <img src="assets/img/empresas_programa_beneficios/Lodi_Logo.png" alt="Empresa participante do programa de benefícios"> 
          </div>
          <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
            <img src="assets/img/empresas_programa_beneficios/logo tota.png" alt="Empresa participante do programa de benefícios"> 
          </div>
          <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
            <img src="assets/img/empresas_programa_beneficios/logo_scientific.png" alt="Empresa participante do programa de benefícios"> 
          </div>
          <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
            <img src="assets/img/empresas_programa_beneficios/dentalfactory.hor.png" alt="Empresa participante do programa de benefícios"> 
          </div>
          <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
            <img src="assets/img/empresas_programa_beneficios/ff_seguros.png" alt="Empresa participante do programa de benefícios"> 
          </div>
          <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
            <img src="assets/img/empresas_programa_beneficios/atelier_uniao.webp" alt="Empresa participante do programa de benefícios"> 
          </div>
          <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
            <img src="assets/img/empresas_programa_beneficios/ambienttal.webp" alt="Empresa participante do programa de benefícios"> 
          </div>
          <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
            <img src="assets/img/empresas_programa_beneficios/systhex_logo.png" alt="Empresa participante do programa de benefícios"> 
          </div>
          <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
            <img src="assets/img/empresas_programa_beneficios/durr_dental.png" alt="Empresa participante do programa de benefícios"> 
          </div>
          <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
            <img src="assets/img/empresas_programa_beneficios/logo_prexion.webp" alt="Empresa participante do programa de benefícios"> 
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Meio ambiente ======= -->
<section id="environment" class=" bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col col-md-6">
        <h1 class="text-white"><b><span data-purecounter-start="0" data-purecounter-end="46" data-purecounter-duration="2" class="purecounter text-white"></span>{% t navigation.main.environment.paper_number %}</b></h1>
        <p class="text-white"><b>{% t navigation.main.environment.paper_text %}</b></p>
      </div>
      <div class="col col-md-6">
        <h1 class="text-white"><b><span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1" class="purecounter text-white"></span>{% t navigation.main.environment.tree_number %}</b></h1>
        <p class="text-white"><b>{% t navigation.main.environment.tree_text %}</b></p>
      </div>
    </div>
  </div>
</section>