---
layout: default
---

<!-- ======= Hero ======= -->
<section id="hero" class="hero-initial">
  <div class="container-xxl">
    <div class="d-flex align-items-center justify-content-around">
      <div data-aos="zoom-in">
        <h2>{% t navigation.main.index.hero %}</h2>
      </div>
      <img src="./assets/img/header.png" class="img-fluid" alt="Imagem tela inicial" data-aos="zoom-in">
    </div>
    <div class="text-center mt-2 aos-init">
      <img src="./assets/img/icons/header_button_down.png" alt="Botão indicando para baixo">
    </div>
  </div>
</section>

<!-- ======= Planos ======= -->
<section id="plans" class="mb-5">
  <div class="container-xxl text-center">
    <a class="btn btn-secondary d-inline-flex justify-content-between align-items-flex-start" target="_blank" href="https://max.cfaz.net/users/sign_in" data-aos="fade-up">
      <img class="me-3" src="./assets/img/icons/btn_cloud.png" alt="Ícone de nuvem">
      <span>{% t navigation.main.index.plans.free_starter_plan %}</span>
    </a>

    <div class="row gy-3 mt-3" data-aos="fade-up">
      <div class="col-md-4">
        <div class="card shadow py-2">
          <div class="card-body">
            <img src="./assets/img/icons/plan_telerradiologia.png" alt="Ícone de uma lupa sobre um raio-x em um computador">
            <h1 class="card-title mt-3 mb-0">{% t navigation.main.index.plans.teleradiology %}</h1>
            <button class="btn btn-cta d-inline-flex justify-content-between align-items-flex-start mt-2" data-bs-toggle="modal" data-bs-target="#modal_telerradiologia">
              <img class="me-3" src="./assets/img/icons/btn_phone_white.png" alt="Ícone de telefone">
              <span>{% t navigation.main.index.button_contact %}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow py-2">
          <div class="card-body">
            <img src="./assets/img/icons/plan_consultorio.png" alt="Ícone de uma fachada de um consultório">
            <h1 class="card-title mt-3 mb-0">{% t navigation.main.index.plans.consultancies %}</h1>
            <button class="btn btn-cta d-inline-flex justify-content-between align-items-flex-start mt-2" data-bs-toggle="modal" data-bs-target="#modal_consultorios">
              <img class="me-3" src="./assets/img/icons/btn_phone_white.png" alt="Ícone de telefone">
              <span>{% t navigation.main.index.button_contact %}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow py-2">
          <div class="card-body">
            <img src="./assets/img/icons/plan_clinicas.png" alt="Ícone de uma caderneta">
            <h1 class="card-title mt-3 mb-0">{% t navigation.main.index.plans.clinics %}</h1>
            <button class="btn btn-cta d-inline-flex justify-content-between align-items-flex-start mt-2" data-bs-toggle="modal" data-bs-target="#modal_clinicas">
              <img class="me-3" src="./assets/img/icons/btn_phone_white.png" alt="Ícone de telefone">
              <span>{% t navigation.main.index.button_contact %}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow py-2">
          <div class="card-body">
            <img src="./assets/img/icons/plan_centro_radiologia.png" alt="Ícone de um aparelho de radiologia">
            <h1 class="card-title mt-3 mb-0">{% t navigation.main.index.plans.radiology_centers %}</h1>
            <button class="btn btn-cta d-inline-flex justify-content-between align-items-flex-start mt-2" data-bs-toggle="modal" data-bs-target="#modal_centros_radiologia">
              <img class="me-3" src="./assets/img/icons/btn_phone_white.png" alt="Ícone de telefone">
              <span>{% t navigation.main.index.button_contact %}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow py-2">
          <div class="card-body">
            <img src="./assets/img/icons/plan_centrais_laudo.png" alt="Ícone de uma folha com checklist">
            <h1 class="card-title mt-3 mb-0">{% t navigation.main.index.plans.reporting_centers %}</h1>
            <button class="btn btn-cta d-inline-flex justify-content-between align-items-flex-start mt-2" data-bs-toggle="modal" data-bs-target="#modal_centrais_laudo">
              <img class="me-3" src="./assets/img/icons/btn_phone_white.png" alt="Ícone de telefone">
              <span>{% t navigation.main.index.button_contact %}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow py-2">
          <div class="card-body">
            <img src="./assets/img/icons/plan_hospitais.png" alt="Ícone de um hospital">
            <h1 class="card-title mt-3 mb-0">{% t navigation.main.index.plans.hospitals %}</h1>
            <button class="btn btn-cta d-inline-flex justify-content-between align-items-flex-start mt-2" data-bs-toggle="modal" data-bs-target="#modal_hospitais">
              <img class="me-3" src="./assets/img/icons/btn_phone_white.png" alt="Ícone de telefone">
              <span>{% t navigation.main.index.button_contact %}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Hospitais ======= -->
<section id="hospital" class="background pt-5 pb-4">
  <div class="container-xxl">
    <section class="d-flex align-items-center justify-content-between" data-aos="fade-up">
      <div class="col-md-6">
        <h1 class="text-primary"><strong>{% t navigation.main.index.plans.hospitals %}</strong></h1>
        <p>{% t navigation.main.index.hospital.text %}</p>
        <p>{% t navigation.main.index.hospital.text2 %}</p>
      </div>
      <div class="col-md-6 text-center">
        <img src="./assets/img/hospital.png" alt="Profissional da saúde passando anotações de notebook para uma acaderneta">
      </div>
    </section>

    <section class="d-grid mt-5" style="grid-template-columns: 20% 20% 20% 20% 20%;" data-aos="fade-up">
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/ris_pacs_online.png" alt="Ícone de peças de quebra cabeça se conectando a uma ferramenta">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.ris_pacs_online %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/certificacao_anvisa.png" alt="Ícone com certificado">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.anvisa %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/lgpd.png" alt="Ícone de segurança">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.lgpd %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/telerradiologia.png" alt="Ícone de tela com um certificado">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.plans.teleradiology %}</p>
        </div>
      </div>
      <div class="card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/integracao_dicom.png" alt="Ícone com uma tela e informações nela">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.dicom_integration %}</p>
        </div>
      </div>
    </section>

    <section class="d-grid mt-3" style="grid-template-columns: 25% 25% 25% 25%" data-aos="fade-up">
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/api_interoperabilidade.png" alt="Ícone com ferramenta">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.api_Interoperability %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/suporte_tecnico_humanizado.png" alt="Ícone de uma pessoa com headset">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.humanized_technical_support %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/google_cloud_platform.png" alt="Ícone de aparelhos eletronicos se conectando a nuvem">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.google_cloud_platform %}</p>
        </div>
      </div>
      <div class="card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/armazenamento_20anos.png" alt="Ícone de notebook armazenadando dados">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.storage %}</p>
        </div>
      </div>
    </section>

    <div class="text-center mt-4" data-aos="fade-up">
      <a class="btn btn-cta d-inline-flex justify-content-between align-items-flex-start" href="hospitais.html">
        <img class="me-3" src="./assets/img/icons/btn-link.png" alt="Icone de link">
        <span>{% t navigation.main.index.button_know_more %}</span>
      </a>
    </div>
  </div>
</section>

<!-- ======= Radiologia ======= -->
<section id="radiology" class="pt-5 pb-4">
  <div class="container-xxl">
    <section class="d-flex justify-content-between" data-aos="fade-up">
      <div class="text-center">
        <img src="./assets/img/radiologia-index.png" alt="Pessoa vendo um exame de cranio em um monitor">
      </div>
      <div class="col-md-6">
        <h1 class="text-primary"><strong>{% t navigation.main.index.radiologia.title %}</strong></h1>
        <p>{% t navigation.main.index.radiologia.text %}</p>
        <p>{% t navigation.main.index.radiologia.text2 %}</p>
        <p>{% t navigation.main.index.radiologia.text3 %}</p>
      </div>
    </section>

    <section class="d-grid mt-5" style="grid-template-columns: 20% 20% 20% 20% 20%;" data-aos="fade-up">
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/ris_pacs_online.png" alt="Ícone de peças de quebra cabeça se conectando a uma ferramenta">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.ris_pacs_online %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/certificacao_anvisa.png" alt="Ícone com certificado">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.anvisa %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/lgpd.png" alt="Ícone de segurança">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.lgpd %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/telerradiologia.png" alt="Ícone de tela com um certificado">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.plans.teleradiology %}</p>
        </div>
      </div>
      <div class="card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/integracao_dicom.png" alt="Ícone com uma tela e informações nela">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.dicom_integration %}</p>
        </div>
      </div>
    </section>

    <section class="d-grid mt-3" style="grid-template-columns: 25% 25% 25% 25%" data-aos="fade-up">
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/inteligencia_artificial.png" alt="Ícone de inteligencia artificial">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.artificial_intelligence %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/suporte_tecnico_humanizado.png" alt="Ícone de uma pessoa com headset">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.humanized_technical_support %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/google_cloud_platform.png" alt="Ícone de aparelhos eletronicos se conectando a nuvem">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.google_cloud_platform %}</p>
        </div>
      </div>
      <div class="card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/armazenamento_20anos.png" alt="Ícone de notebook armazenadando dados">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.storage %}</p>
        </div>
      </div>
    </section>

    <div class="text-center mt-4">
      <a class="btn btn-cta d-inline-flex justify-content-between align-items-flex-start" href="radiologia.html">
        <img class="me-3" src="./assets/img/icons/btn-link.png" alt="Icone de link">
        <span>{% t navigation.main.index.button_know_more %}</span>
      </a>
    </div>
  </div>
</section>

<!-- ======= Odontologia e Medicina ======= -->
<section id="odontology-medicine" class="background pt-5 pb-4">
  <div class="container-xxl">
    <section class="d-flex justify-content-between" data-aos="fade-up">
      <div class="col-md-6">
        <h1 class="text-primary"><strong>{% t navigation.header.dentistry_medicine %}</strong></h1>
        <p>{% t navigation.main.index.odontology_medicine.text %}</p>
      </div>
      <div class="text-center">
        <img src="./assets/img/odontologia-medicina-index.png" alt="Profissional da saúde fazendo anotações em seu computador e máquina de radiologia atras">
      </div>
    </section>

    <section class="d-grid mt-5" style="grid-template-columns: 20% 20% 20% 20% 20%;" data-aos="fade-up">
      <div class="me-4 card shadow py-2 border-0 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/gestao_financeira.png" alt="Ícone de tela com grafico de pizza e uma engrenagem">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.financial_management %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/gestao_multiclinicas.png" alt="Ícone de tela com graficos e dados">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.multiclinic_management %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/gestao_ convenios.png" alt="Ícone de 3 pessoas de mãos dadas a frente de uma engrenagem">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.agreement_management %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/emissao_nota.png" alt="Ícone de folha com checklist e um simbolo de dinheiro no canto direito superior">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.invoice_issuance %}</p>
        </div>
      </div>
      <div class="card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/relatorios_customizaveis.png" alt="Ícone de folha com gráfico de coluna">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.customizable_reports %}</p>
        </div>
      </div>
    </section>

    <section class="d-grid mt-3" style="grid-template-columns: 25% 25% 25% 25%" data-aos="fade-up">
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/agenda_online.png" alt="Ícone de caixa de diálogo">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.online_calendar %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/pep.png" alt="Ícone de uma pessoa com headset">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.pep %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/suporte_tecnico_humanizado.png" alt="Ícone de uma pessoa com headset">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.humanized_technical_support %}</p>
        </div>
      </div>
      <div class="card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/assinatura_digital.png" alt="Ícone de lousa com uma assinatura sendo escrita por uma caneta">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.digital_signature %}</p>
        </div>
      </div>
    </section>

    <div class="text-center mt-4">
      <a class="btn btn-cta d-inline-flex justify-content-between align-items-flex-start" href="odontologia_medicina.html">
        <img class="me-3" src="./assets/img/icons/btn-link.png" alt="Icone de link">
        <span>{% t navigation.main.index.button_know_more %}</span>
      </a>
    </div>
  </div>
</section>

<!-- ======= Veterinária ======= -->
<section id="vet" class="pt-5 pb-4 position-relative">
  <div class="vet-graphic-image"></div>
  <div class="container-xxl">
    <section class="d-flex justify-content-between" data-aos="fade-up">
      <div class="text-center">
        <img src="./assets/img/veterinaria-index.png" alt="Veterinária com um raio-x na mão, olhando para cima e a frente um cachorro feliz">
      </div>
      <div class="col-md-6">
        <h1 class="text-primary"><strong>{% t navigation.header.veterinary %}</strong></h1>
        <p>{% t navigation.main.index.veterinary.text %}</p>
        <p>{% t navigation.main.index.veterinary.text2 %}</p>        
      </div>
    </section>

    <section class="d-grid mt-5" style="grid-template-columns: 20% 20% 20% 20% 20%;" data-aos="fade-up">
      <div class="me-4 card shadow py-2 border-0 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/ris_pacs_online.png" alt="Ícone de peças de quebra cabeça se conectando a uma ferramenta">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.ris_pacs_online %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/gestao_financeira.png" alt="Ícone de tela com grafico de pizza e uma engrenagem">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.financial_strategic_management %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/emissao_nota.png" alt="Ícone de folha com checklist e um simbolo de dinheiro no canto direito superior">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.invoice_issuance %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/telerradiologia.png" alt="Ícone de tela com um certificado">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.plans.teleradiology %}</p>
        </div>
      </div>
      <div class="card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/integracao_dicom.png" alt="Ícone com uma tela e informações nela">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.dicom_integration %}</p>
        </div>
      </div>
    </section>

    <section class="d-grid mt-3" style="grid-template-columns: 25% 25% 25% 25%" data-aos="fade-up">
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/agenda_online.png" alt="Ícone de caixa de diálogo">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.online_calendar %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/suporte_tecnico_humanizado.png" alt="Ícone de uma pessoa com headset">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.humanized_technical_support %}</p>
        </div>
      </div>
      <div class="me-4 card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/laudo_voz.png" alt="Ícone com um QR Code ao centro">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.voice_report %}</p>
        </div>
      </div>
      <div class="card shadow py-2 border-0">
        <div class="card-body text-center">
          <img src="./assets/img/icons/relatorios_customizaveis.png" alt="Ícone de folha com gráfico de coluna">
          <p class="card-title mt-3 mb-0">{% t navigation.main.index.benefits.customizable_reports %}</p>
        </div>
      </div>
    </section>

    <div class="text-center mt-4" data-aos="fade-up">
      <a class="btn btn-cta d-inline-flex justify-content-between align-items-flex-start" href="veterinaria.html">
        <img class="me-3" src="./assets/img/icons/btn-link.png" alt="Icone de link">
        <span>{% t navigation.main.index.button_know_more %}</span>
      </a>
    </div>
  </div>
</section>

<!-- ======= Onde estamos ======= -->
<section id="countries" class="position-relative py-5">
  <div class="container-xxl">
    <section class="d-flex justify-content-between align-items-center mb-5" data-aos="fade-up">
      <h2>{% t navigation.main.index.countries.title %}</h2>
      <img src="./assets/img/bandeiras.png" alt="Lista de 13 países onde a cfaz já está integrada">
    </section>
    
    <section class="swiper-container partners" data-aos="fade-up">
      <div class="swiper-wrapper">
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(1)">
          <img class="segment-image-1" src="./assets/img/clientes/animagem.png" alt="Empresa parceira">
          <p class="segment-text-1 mb-0 d-none text-secondary">{% t navigation.main.index.countries.hospital %}</p>
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(2)">
          <img class="segment-image-2" src="./assets/img/clientes/begmax.png" alt="Empresa parceira">
          <p class="segment-text-2 mb-0 d-none text-secondary">{% t navigation.main.index.countries.dental_radiology %}</p> 
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(3)">
          <img class="segment-image-3" src="./assets/img/clientes/cimo.png" alt="Empresa parceira">
          <p class="segment-text-3 mb-0 d-none text-secondary">{% t navigation.main.index.countries.dental_radiology %}</p>
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(4)">
          <img class="segment-image-4" src="./assets/img/clientes/ciro.png" alt="Empresa parceira">
          <p class="segment-text-4 mb-0 d-none text-secondary">{% t navigation.main.index.countries.dental_radiology %}</p> 
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(5)">
          <img class="segment-image-5" src="./assets/img/clientes/drx.png" alt="Empresa parceira">
          <p class="segment-text-5 mb-0 d-none text-secondary">{% t navigation.main.index.countries.dental_radiology %}</p>
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(6)">
          <img class="segment-image-6" src="./assets/img/clientes/eco-x.png" alt="Empresa parceira">
          <p class="segment-text-6 mb-0 d-none text-secondary">{% t navigation.main.index.countries.hospital %}</p>
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(7)">
          <img class="segment-image-7" src="./assets/img/clientes/hs_vet.png" alt="Empresa parceira">
          <p class="segment-text-7 mb-0 d-none text-secondary">{% t navigation.header.veterinary %}</p>
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(8)">
          <img class="segment-image-8" src="./assets/img/clientes/imagem.png" alt="Empresa parceira">
          <p class="segment-text-8 mb-0 d-none text-secondary">{% t navigation.main.index.countries.dental_radiology %}</p>
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(9)">
          <img class="segment-image-9" src="./assets/img/clientes/iorn.png" alt="Empresa parceira">
          <p class="segment-text-9 mb-0 d-none text-secondary">{% t navigation.main.index.countries.dental_radiology %}</p>
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(10)">
          <img class="segment-image-10" src="./assets/img/clientes/maxilare.png" alt="Empresa parceira">
          <p class="segment-text-10 mb-0 d-none text-secondary">{% t navigation.main.index.countries.dental_radiology %}</p> 
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(11)">
          <img class="segment-image-11" src="./assets/img/clientes/movax.png" alt="Empresa parceira">
          <p class="segment-text-11 mb-0 d-none text-secondary">{% t navigation.main.index.countries.dental_radiology %}</p>
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(12)">
          <img class="segment-image-12" src="./assets/img/clientes/nr.png" alt="Empresa parceira">
          <p class="segment-text-12 mb-0 d-none text-secondary">{% t navigation.main.index.countries.dental_radiology %}</p>
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(13)">
          <img class="segment-image-13" src="./assets/img/clientes/oi_digital.png" alt="Empresa parceira">
          <p class="segment-text-13 mb-0 d-none text-secondary">{% t navigation.main.index.countries.dental_radiology %}</p> 
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(14)">
          <img class="segment-image-14" src="./assets/img/clientes/perboyre.png" alt="Empresa parceira">
          <p class="segment-text-14 mb-0 d-none text-secondary">{% t navigation.main.index.countries.dental_radiology %}</p>
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(15)">
          <img class="segment-image-15" src="./assets/img/clientes/raio_max.png" alt="Empresa parceira">
          <p class="segment-text-15 mb-0 d-none text-secondary">{% t navigation.header.veterinary %}</p>
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(16)">
          <img class="segment-image-16" src="./assets/img/clientes/roc.png" alt="Empresa parceira">
          <p class="segment-text-16 mb-0 d-none text-secondary">{% t navigation.main.index.countries.dental_radiology %}</p>
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(17)">
          <img class="segment-image-17" src="./assets/img/clientes/tradit3d.png" alt="Empresa parceira">
          <p class="segment-text-17 mb-0 d-none text-secondary">{% t navigation.main.index.countries.dental_radiology %}</p>
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(18)">
          <img class="segment-image-18" src="./assets/img/clientes/uno_vet.png" alt="Empresa parceira">
          <p class="segment-text-18 mb-0 d-none text-secondary">{% t navigation.header.veterinary %}</p>
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(19)">
          <img class="segment-image-19"  src="assets/img/clientes/vamos_sorrir.png" alt="Empresa parceira">
          <p class="segment-text-19 mb-0 d-none text-secondary">{% t navigation.main.index.countries.dental_radiology %}</p>
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center" onclick="showSegment(20)">
          <img class="segment-image-20" src="assets/img/clientes/xe_vet.png" alt="Empresa parceira">
          <p class="segment-text-20 mb-0 d-none text-secondary">{% t navigation.header.veterinary %}</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </section>
  </div>
</section>

<!-- ======= Depoimentos ======= -->
<section id="customer-testimonial" class="my-4">
  <div class="container-xxl">
    <h1 class="text-center text-secondary"><strong>{% t navigation.main.index.customer_testimonial.title %}</strong></h1>
    <div class="row" data-aos="fade-up">
      <div class="col-md-4">
        <div class="card background border-0 shadow mt-5 h-85">
          <iframe class="mx-3" src="https://www.youtube.com/embed/0zTsBuB6pso?si=RhBrORfW8d-H1uax" title="YouTube video player" height="210" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="card-body">
            <p class="mb-0"><b>Felipe Costa</b></p>
            <small class="text-secondary-light">ODT Digital Radiologia, DRX Radiologia Odontológica e Rede X Radiologia e Tomografia Odontológica - Rio de janeiro/RJ</small>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card background border-0 shadow mt-5 h-85">
          <iframe class="mx-3" src="https://www.youtube.com/embed/qBMqtl-nkIs?si=ymHh6OCu8vLkPpyc" title="YouTube video player" height="210" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="card-body">
            <p class="mb-0"><b>Ana Tokus</b></p>
            <small class="text-secondary-light">UNIX Radiologia Odontológica - Curitiba/PR</small><br>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card background border-0 shadow mt-5 h-85">
          <iframe class="mx-3" src="https://www.youtube.com/embed/BKo3c94clKo?si=OJb_bpQrXuyhUoAa" title="YouTube video player" height="210" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="card-body">
            <p class="mb-0"><b>Vinícius Gripp</b></p>
            <small class="text-secondary-light">Radiologic 3D  e Instituto Gripp de Odontologia - Bom Jesus da Lapa/BA</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Segurança e Credibilidade ======= -->
<section id="security-credibility" class="mt-5 py-4 background">
  <div>
    <section class="container-xxl" data-aos="fade-up">
      <div class="d-flex justify-content-around flex-wrap gy-3 mt-3">
        <div class="card text-center shadow border-0 p-3">
          <div class="card-body">
            <img src="./assets/img/icons/pessoas.png" alt="Ícone de pessoas">
            <p class="card-title mt-3 mb-0">10Mi</p>
            <p class="text-secondary-light">{% t navigation.main.index.security_credibility.patients_served %}</p>
          </div>
        </div>
        <div class="card text-center shadow border-0 p-3">
          <div class="card-body">
            <img src="./assets/img/icons/exames.png" alt="Ícone de folha com um verificado">
            <p class="card-title mt-3 mb-0">50Mi</p>
            <p class="text-secondary-light">{% t navigation.main.index.security_credibility.distributed_exams %}</p>
          </div>
        </div>
        <div class="card text-center shadow border-0 p-3">
          <div class="card-body">
            <img src="./assets/img/icons/nuvem.png" alt="Ícone de nuvem">
            <p class="card-title mt-3 mb-0">130Tb</p>
            <p class="text-secondary-light">{% t navigation.main.index.security_credibility.stored_cloud %}</p>
          </div>
        </div>
        <div class="card text-center shadow border-0 p-3">
          <div class="card-body">
            <img src="./assets/img/icons/tempo_em_mercado.png" alt="Ícone de agenda com relógio">
            <p class="card-title mt-3 mb-0">10 {% t navigation.main.index.security_credibility.years %}</p>
            <p class="text-secondary-light">{% t navigation.main.index.security_credibility.years_history %}</p>
          </div>
        </div>
      </div>
    </section>
    <hr class="my-5 border-2 text-secondary-light">
    <section class="container-xxl d-flex justify-content-around flex-wrap" data-aos="fade-up">
      <div class="text-center">
        <img class="mb-3" src="./assets/img/icons/certificado_anvisa.png" alt="Logo da Anvisa">
        <p class="mb-0">{% t navigation.main.index.security_credibility.anvisa %}</p>
        <small><a class="text-secondary hover_underline" target="_blank" href="https://consultas.anvisa.gov.br/#/saude/25351182044202394/?nomeProduto=Cfaz.net" class="text-secondary-light">{% t navigation.main.index.security_credibility.record %}: 82578410001</a></small>
      </div>
      <div class="text-center">
        <img class="mb-3" src="./assets/img/icons/certificado_hippaa.png" alt="Logo da HIPPA">
        <p>{% t navigation.main.index.security_credibility.hippa %}</p>
      </div>
      <div class="text-center">
        <img class="mb-3" src="./assets/img/icons/certificado_lgpd.png" alt="Logo da LGPD">
        <p>{% t navigation.main.index.benefits.lgpd %}</p>
      </div>
      <div class="text-center">
        <img class="mb-3" src="./assets/img/icons/certificado_gdpr.png" alt="Logo da GDPR">
        <p>{% t navigation.main.index.security_credibility.gdpr %}</p>
      </div>
      <div class="text-center">
        <img class="mb-3" src="./assets/img/icons/certificado_google_cloud.png" alt="Logo da Google Cloud Platform">
        <p>{% t navigation.main.index.benefits.google_cloud_platform %}</p>
      </div>
    </section>
  </div>
</section>

<!-- ======= Planos - Valores ======= -->
<section id="plans-values" class="py-5" data-aos="fade-up">
  <div class="container-xxl text-center">
    <h2 class="mb-4"><strong>{% t navigation.main.index.plans_values.title %}</strong></h2>
    <a class="btn btn-secondary d-inline-flex justify-content-between align-items-flex-start" target="_blank" href="https://max.cfaz.net/users/sign_in">
      <img class="me-3" src="./assets/img/icons/btn_cloud.png" alt="Ícone de nuvem">
      <span><span>{% t navigation.main.index.plans.free_starter_plan %}</span></span>
    </a>

    <div class="row gy-3 mt-3">
      <div class="col-md-4">
        <div class="card text-start shadow py-2">
          <div class="card-body">
            <img src="./assets/img/icons/plan_telerradiologia_white.png" alt="Ícone de uma lupa sobre um raio-x em um computador">
            <div class="text-center">
              <h1 class="text-secondary-light my-3">{% t navigation.main.index.plans.teleradiology %}</h1>
              <small class="text-secondary-light">{% t navigation.main.from %}</small>
              <h1 style="line-height: 1">
                <strong>R$ 99</strong> 
                <small class="text-secondary-light mb-0">(50 exames)</small>
              </h1>
              <button class="btn btn-cta d-inline-flex justify-content-between align-items-flex-start mt-4" data-bs-toggle="modal" data-bs-target="#modal_telerradiologia">
                <img class="me-3" src="./assets/img/icons/btn_phone_white.png" alt="Ícone de telefone">
                <span>{% t navigation.main.index.button_contact %}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-start shadow py-2">
          <div class="card-body">
            <img src="./assets/img/icons/plan_consultorios_white.png" alt="Ícone de uma fachada de um consultório">
            <div class="text-center">
              <h1 class="text-secondary-light my-3">{% t navigation.main.index.plans.consultancies %}</h1>
              <small class="text-secondary-light">{% t navigation.main.from %}</small>
              <h1 style="line-height: 1"><strong>R$ 99/mês</strong></h1>
              <button class="btn btn-cta d-inline-flex justify-content-between align-items-flex-start mt-4" data-bs-toggle="modal" data-bs-target="#modal_consultorios">
                <img class="me-3" src="./assets/img/icons/btn_phone_white.png" alt="Ícone de telefone">
                <span>{% t navigation.main.index.button_contact %}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-start shadow py-2">
          <div class="card-body">
            <img src="./assets/img/icons/plan_clinicas_white.png" alt="Ícone de uma caderneta">
            <div class="text-center">
              <h1 class="text-secondary-light my-3">{% t navigation.main.index.plans.clinics %}</h1>
              <small class="text-secondary-light">{% t navigation.main.from %}</small>
              <h1 style="line-height: 1"><strong>R$ 159/mês</strong></h1>
              <button class="btn btn-cta d-inline-flex justify-content-between align-items-flex-start mt-4" data-bs-toggle="modal" data-bs-target="#modal_clinicas">
                <img class="me-3" src="./assets/img/icons/btn_phone_white.png" alt="Ícone de telefone">
                <span>{% t navigation.main.index.button_contact %}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-start shadow py-2">
          <div class="card-body">
            <img src="./assets/img/icons/plan_centro_radiologia_white.png" alt="Ícone de um aparelho de radiologia">
            <div class="text-center">
              <h1 class="text-secondary-light my-3">{% t navigation.main.index.plans.radiology_centers %}</h1>
              <small class="text-secondary-light">{% t navigation.main.from %}</small>
              <h1 style="line-height: 1"><strong>R$ 199/mês</strong></h1>
              <button class="btn btn-cta d-inline-flex justify-content-between align-items-flex-start mt-4" data-bs-toggle="modal" data-bs-target="#modal_centros_radiologia">
                <img class="me-3" src="./assets/img/icons/btn_phone_white.png" alt="Ícone de telefone">
                <span>{% t navigation.main.index.button_contact %}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-start shadow py-2">
          <div class="card-body">
            <img src="./assets/img/icons/plan_centrais_laudo_white.png" alt="Ícone de uma folha com checklist">
            <div class="text-center">
              <h1 class="text-secondary-light my-3">{% t navigation.main.index.plans.reporting_centers %}</h1>
              <small class="text-secondary-light">{% t navigation.main.from %}</small>
              <h1 style="line-height: 1"><strong>R$ 249/mês</strong></h1>
              <button class="btn btn-cta d-inline-flex justify-content-between align-items-flex-start mt-4" data-bs-toggle="modal" data-bs-target="#modal_centrais_laudo">
                <img class="me-3" src="./assets/img/icons/btn_phone_white.png" alt="Ícone de telefone">
                <span>{% t navigation.main.index.button_contact %}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-start shadow py-2">
          <div class="card-body">
            <img src="./assets/img/icons/plan_hospitais_white.png" alt="Ícone de um hospital">
            <div class="text-center">
              <h1 class="text-secondary-light my-3">{% t navigation.main.index.plans.hospitals %}</h1>
              <small class="text-secondary-light">{% t navigation.main.from %}</small>
              <h1 style="line-height: 1"><strong>R$ 399/mês</strong></h1>
              <button class="btn btn-cta d-inline-flex justify-content-between align-items-flex-start mt-4" data-bs-toggle="modal" data-bs-target="#modal_hospitais">
                <img class="me-3" src="./assets/img/icons/btn_phone_white.png" alt="Ícone de telefone">
                <span>{% t navigation.main.index.button_contact %}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Meio ambiente ======= -->
<section id="environment" data-aos="fade-up">
  <div class="container-xxl d-flex align-items-center justify-content-around py-5">
    <div class="text-center">
      <img src="./assets/img/icons/environment_papeis.png" alt="Ícone de pilha de papel">
      <p class="text-environment mt-4 mb-3">143Mi</p>
      <p class="text-secondary-light">{% t navigation.main.index.environment.paper_saved %}</p>
    </div>
    <div class="text-center my-3">
      <img src="./assets/img/icons/environment_filme_radiografico.png" alt="Ícone raio-x">
      <p class="text-environment mt-4 mb-3">48Mi</p>
      <p class="text-secondary-light">{% t navigation.main.index.environment.saved_radiographs %}</p>
    </div>
    <div class="text-center">
      <img src="./assets/img/icons/environment_arvore.png" alt="Ícone de árvore">
      <p class="text-environment mt-4 mb-3">19mil</p>
      <p class="text-secondary-light">{% t navigation.main.index.environment.trees_spared %}</p>
    </div>
  </div>
</section>

{% include contact.html %}

<!-- ======= Redes sociais ======= -->
<section id="social" class="background py-5" data-aos="fade-up">
  <div class="class-fluid">
    <h2 class="text-center mb-4">{% t navigation.main.index.social.title %}</h2>
    <div class="d-flex align-items-center justify-content-around">
      <div class="text-center">
        <img src="./assets/img/icons/social_instagram.png" alt="Logo do instagram">
        <p class="text-secondary-light mt-2">@cfaznet</p>
      </div>
      <div class="text-center">
        <img src="./assets/img/icons/social_tiktok.png" alt="Logo do tiktok">
        <p class="text-secondary-light mt-2">@cfaznet</p>
      </div>
      <div class="text-center">
        <img src="./assets/img/icons/social_linkedin.png" alt="Icone do linkedin">
        <p class="text-secondary-light mt-2">@cfaznet</p>
      </div>
      <div class="text-center">
        <img src="./assets/img/icons/social_youtube.png" alt="Icone do youtube">
        <p class="text-secondary-light mt-2">@cfaznet</p>
      </div>
    </div>
  </div>
</section>

<!-- ======= Programa de Benefícios ======= -->
<section id="benefits-program" class="position-relative pt-5 pb-4 mb-4">
  <div class="container-xxl">
    <section class="d-flex justify-content-between" data-aos="fade-up">
      <div class="text-center">
        <img src="./assets/img/benefits-program.png" alt="Mulheres batendo as palmas das mãos">
      </div>
      <div>
        <h1 class="text-primary"><strong>{% t navigation.main.index.benefits_program.benefits_program %}</strong></h1>
        <p>{% t navigation.main.index.benefits_program.text %}</p>
        <p>{% t navigation.main.index.benefits_program.text2 %}</p>
      </div>
    </section>

    <section class="swiper-container partners mt-5" data-aos="fade-up">
      <p>{% t navigation.main.index.benefits_program.partners %}</p>
      <div class="swiper-wrapper">
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
          <img src="./assets/img/benefits_program/parceira1.png" alt="Empresa parceira">
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
          <img src="./assets/img/benefits_program/parceira2.png" alt="Empresa parceira">
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
          <img src="./assets/img/benefits_program/parceira3.png" alt="Empresa parceira">
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
          <img src="./assets/img/benefits_program/parceira3.png" alt="Empresa parceira">
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
          <img src="./assets/img/benefits_program/parceira4.png" alt="Empresa parceira">
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
          <img src="./assets/img/benefits_program/parceira5.png" alt="Empresa parceira">
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
          <img src="./assets/img/benefits_program/parceira6.png" alt="Empresa parceira">
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
          <img src="./assets/img/benefits_program/parceira7.png" alt="Empresa parceira">
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
          <img src="./assets/img/benefits_program/parceira8.png" alt="Empresa parceira">
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
          <img src="./assets/img/benefits_program/parceira9.png" alt="Empresa parceira">
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
          <img src="./assets/img/benefits_program/parceira10.png" alt="Empresa parceira">
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
          <img src="./assets/img/benefits_program/parceira11.png" alt="Empresa parceira">
        </div>
        <div class="swiper-slide text-center shadow d-flex justify-content-center align-items-center">
          <img src="./assets/img/benefits_program/parceira12.png" alt="Empresa parceira">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </section>
  </div>
</section>

<!-- ======= Cfaz Ciência ======= -->
<section id="cfaz-science" class="background py-5">
  <div class="container-xxl">
    <section class="d-flex justify-content-between" data-aos="fade-up">
      <div class="col-md-6">
        <h1 class="text-secondary"><strong>{% t navigation.main.index.cfaz_science.title %}</strong></h1>
        <p>{% t navigation.main.index.cfaz_science.text %}</p>
        <p>{% t navigation.main.index.cfaz_science.text2 %}</p>
        <button class="btn btn-primary d-inline-flex justify-content-between align-items-center mt-2" data-bs-toggle="modal" data-bs-target="#modal_cfaz_science">
          <img class="me-3" src="./assets/img/icons/btn_phone.png" alt="Ícone de telefone">
          <span>{% t navigation.main.index.button_contact %}</span>
        </button>
      </div>
      <div class="text-center">
        <img src="./assets/img/cfaz-ciencia.png" alt="Bené explicando conteúdo da aula para aluno">
      </div>
    </section>

    <section class="d-flex justify-content-center mt-5" data-aos="fade-up">
      <img src="./assets/img/clientes/cfaz-ciencia-1.png" alt="Fachada da Instituição">
      <img src="./assets/img/clientes/cfaz-ciencia-2.png" alt="Fachada da Instituição">
      <img src="./assets/img/clientes/cfaz-ciencia-3.png" alt="Fachada da Instituição">
      <img src="./assets/img/clientes/cfaz-ciencia-4.png" alt="Fachada da Instituição">
      <img src="./assets/img/clientes/cfaz-ciencia-5.png" alt="Fachada da Instituição">
    </section>

    <section class="mt-4" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card border-0 shadow mt-5">
            <iframe class="mx-3" src="https://www.youtube.com/embed/N3Q1F_ZW7yI?si=k4sGipadTJZveVWe" title="YouTube video player" height="210" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="card-body d-flex align-items-center">
              <img src="./assets/img/icons/cfaz-ciencia-ufmg.png" alt="Logo da LAMBO (UFMS)" width="40">
              <p class="mb-0 ms-2"><b>Prof. Yuri Nejaim - LAMDO (UFMS)</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0 shadow mt-5">
            <iframe class="mx-3" src="https://www.youtube.com/embed/npilAq8uCPU?si=s0MN5Z8TFtAErehr" title="YouTube video player" height="210" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="card-body d-flex align-items-center">
              <img src="./assets/img/icons/cfaz-ciencia-lodi.png" alt="Logo da Lodi UEPG" width="40">
              <p class="mb-0 ms-2"><b>Dr. Gilson Franco - Lodi UEPG </b></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

{% include app.html %}
{% include newsletter.html %}