---
layout: default
---

<!-- ======= Hero ======= -->
<section id="dental_radiology_hero">
  <div class="container">
    <div class="row justify-content-between mobile-reverse">
      <div class="col-md-5 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
        <div data-aos="zoom-out">
          <h5 class="text-white"><b>{% t navigation.main.slider.dental_radiology_title %}</b></h5>
          <p class="text-white">{% t navigation.main.slider.dental_radiology_subtitle %}</p>
          <div class="text-center text-lg-start">
            <a class="btn btn-primary mb-8 mt-16" data-bs-toggle="modal" data-bs-target="#contact_modal">{% t navigation.main.btn %}</a>
          </div>
        </div>
      </div>
      <div class="col-md-7 order-1 position-relative" data-aos="zoom-out" data-aos-delay="200">
        <div class="d-flex justify-content-between">
          <div class="card card_header border-3 shadow m-1">
            <div class="card-body text-center">
              <img class="mb-8" src="assets/img/icones/icone_CfazPlus.png" alt="{% t alt.cfaz_plus %}">
              <h6>{% t navigation.main.cfaz.plus %}</h6>
              <p class="text-secondary">{% t navigation.main.cfaz.plus_text %}</p>
            </div>
          </div>
          <div class="card card_header border-3 shadow m-1">
            <div class="card-body text-center">
              <img class="mb-8" src="assets/img/icones/icone_CfazMax.png" alt="{% t alt.cfaz_max %}">
              <h6>{% t navigation.main.cfaz.max %}</h6>
              <p class="text-secondary">{% t navigation.main.cfaz.max_text %}</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="card card_header border-3 shadow m-1">
            <div class="card-body text-center">
              <img class="mb-8" src="assets/img/icones/icone_CfazManager0.png" alt="{% t alt.cfaz_manager %}">
              <h6>{% t navigation.main.cfaz.manager %}</h6>
              <p class="text-secondary">{% t navigation.main.cfaz.manager_text %}</p>
            </div>
          </div>
          <div class="card card_header border-3 shadow m-1">
            <div class="card-body text-center">
              <img class="mb-8" src="assets/img/icones/icone_CfazBusiness.png" alt="{% t alt.cfaz_business %}">
              <h6>{% t navigation.main.cfaz.business %}</h6>
              <p class="text-secondary">{% t navigation.main.cfaz.business_text %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Benefícios ======= -->
{% include benefit_transformation.html %}
{% include benefit_productivity.html %}

<!-- ======= Sistema Cfaz ======= -->
{% include system_Cfaz.html %}

<!-- ======= Inteligência Artificial ======= -->
{% include artificial_intelligence.html %}

<!-- ======= CfazApp ======= -->
{% include appCfaz.html %}

<!-- ======= Tomografia ======= -->
{% include tomography.html %}

<!-- ======= Fale com um de nossos consultores ======= -->
{% include contact_us.html %}