---
layout: default
---

<!-- ======= Hero Section ======= -->
<section id="teleradiology_hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
        <div data-aos="zoom-out">
          <h5 class="text-white"><b>Telerradiologia</b></h5>
          <p class="text-white">Plataforma unificada com soluções para realização de laudos radiológicos e um marketplace gratuito integrado, conectando profissionais radiologistas a clínicas e centros radiológicos de todo o Brasil e América Latina.</p>
          <div class="text-center text-lg-start">
            <a href="#" class="btn btn-primary mt-3 mb-5 scrollto">QUERO FALAR COM UM CONSULTOR</a>
          </div>
        </div>
      </div>
      <div class="col-md-7 order-1 position-relative aos-animate" data-aos="zoom-out">
        <div class="d-flex justify-content-between">
          <div class="card card_header border-3 shadow m-1">
            <div class="card-body text-center">
              <img class="mb-8" src="assets/img/icones/icone_CfazPlus.png" alt="Ícone CfazPlus">
              <h6><b class="text-primary">Cfaz</b><b class="text-secondary">Job</b></h6>
              <p class="text-secondary">Solução específica para criação de laudos e terceirização, através do marketplace CfazBusiness.</p>
            </div>
          </div>
          <div class="card card_header border-3 shadow m-1">
            <div class="card-body text-center">
              <img class="mb-8" src="assets/img/icones/icone_CfazMax.png" alt="Ícone CfazMax">
              <h6><b class="text-primary">Cfaz</b><b class="text-secondary">Business</b></h6>
              <p class="text-secondary">Marketplace exclusivo para terceirização de laudos, conectando Radiologistas a clínicas de Radiologia Odontológica.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Benefícios ======= -->
{% include benefit_transformation.html %}
<section id="benefit_productivity">
  <div class="container">
    <h5 class="text-primary text-center mb-54">Te ajudamos a aumentar a sua <b>produtividade</b>, reduzir custos e melhorar seus resultados</h5>
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_tempo_real.png" alt="Ícone RIS online">
          <div>
            <p class="mb-8 text-secondary"><b>ENTREGA EM TEMPO REAL</b></p>
            <p>Armazene automaticamente as imagens e entregue para solicitantes em tempo real, logo em seguida à aquisição da imagem, com apenas um clique.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_atendimento.png" alt="Ícone máxima qualidade de imagem">
          <div>
            <p class="mb-8 text-secondary"><b>EXCELÊNCIA NO ATENDIMENTO</b></p>
            <p>Um time qualificado e multidisciplinar realiza o nosso atendimento de forma humanizada, em tempo real, via Whatsapp, telefone, e-mail ou ainda Chat Direto no sistema.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a href="#" class="btn btn-secondary mt-3 mb-5 scrollto">QUERO FALAR COM UM CONSULTOR</a>
    </div>
  </div>
</section>

<!-- ======= Sistema Cfaz ======= -->
{% include system_Cfaz.html %}

<!-- ======= Inteligência Artificial ======= -->
{% include artificial_intelligence.html %}

<!-- ======= CfazApp ======= -->
{% include appCfaz.html %}

<!-- ======= Tomografia ======= -->
{% include tomography.html %}

<!-- ======= Fale com um de nossos consultores ======= -->
{% include faleConosco.html %}