---
layout: default
---

<!-- ======= Hero ======= -->
<section id="title-vet" class="text-center" data-aos="zoom-in">
  <h3 class="text-primary"><strong>{% t navigation.header.veterinary %}</strong></h3>
</section>

<!-- ======= Informações ======= -->
<section id="informations" class="position-relative mb-5 py-5">
  <div class="vet-graphic-image"></div>
  <div class="container-xxl d-flex align-items-center justify-content-around">
    <div class="col-md-6" data-aos="zoom-in">
      <p class="text-secondary-light">Software completo em Nuvem para realizar toda a experiência de atendimento ao paciente veterinário, além de
        controlar a gestão financeira e administrativa de <strong>Clínicas Veterinárias, Centros de Radiologia
          Veterinária,
          Radiologistas Laudadores Volantes</strong> e <strong>Hospitais Veterinários.</strong></p>
      <p class="text-secondary-light"><strong>Distribuição Online</strong> de exames para Tutores e Médicos Veterinários solicitantes.</p>
    </div>
    <img src="./assets/img/veterinaria.png" alt="Veterinária com um raio-x na mão, olhando para cima e a frente um cachorro feliz" data-aos="zoom-in">
  </div>
</section>

<!-- ======= RIS e PACS 100% Online (texto diferente para vet) ======= --> 
<section class="background py-5">
  <div class="container-xxl d-flex align-items-center justify-content-between" data-aos="fade-up">
    <div class="col-md-6 text-center">
      <img src="./assets/img/servicos-funcionalidades/ris-pacs.png" alt="Demonstração da funcionalidade no sistema">
    </div>
    <div class="col-md-6">
      <h2 class="text-primary"><strong>RIS e PACS 100% Online</strong></h2>
      <p>Com o <strong>RIS</strong> em Nuvem do Cfaz.net você garante agilidade em todos os processos do seu Centro de Radiologia, incluindo Agendamentos, Prontuário do paciente, Gestão Financeira e Controle de Convênios e Parcerias.</p>
      <p>Além disso, nosso <strong>PACS</strong> em Nuvem é 100% integrado com o RIS, através do serviço de Worklist. Essa integração garante uma gestão eficiente e unificada de todos os processos do Centro de Saúde.</p>
    </div>
  </div>
</section>

<!-- ======= Agenda Online + Comunicação Integrada com WhatsApp (imagem diferente) ======= -->
<section class="py-5">
  <div class="d-flex align-items-center justify-content-between" data-aos="fade-up">
    <div class="col-md-6 container-xxl">
      <div>
        <h2 class="text-primary"><strong>{% t navigation.main.index.benefits.online_calendar %}</strong></h2>
        <p><strong>Organize os agendamentos e envie pedidos automaticamente pelo WhatsApp!</strong></p>
        <p>Agendas ilimitadas, separadas por profissional, por sala, por tipo de exame, por unidade: liberdade para você
          organizar os agendamentos da clínica de acordo com sua necessidade. </p>
        <p>Gerencie o controle de retornos, pacientes em espera e ausentes, através de relatórios que também são 100%
          customizáveis. </p>
        <p>Realize a entrega automática de exames através do WhatsApp, com o custo a partir de R$ 0,35 por mensagem.</p>
      </div>
    </div>
    <div class="text-end">
      <img class="w-90" src="./assets/img/servicos-funcionalidades/agenda-online-vet.png" alt="Demonstração da funcionalidade no sistema">
    </div>
  </div>
</section>

<!-- ======= Gestão Financeira ======= -->
<section id="financial-management-strategic" class="background py-5">
  <div class="container-xxl d-flex align-items-center justify-content-between" data-aos="fade-up">
    <div class="col-md-6 text-center">
      <img src="./assets/img/servicos-funcionalidades/gestao-financeira-estrategica.png" alt="Pessoas analisando dados">
    </div>
    <div class="col-md-6">
      <h2 class="text-primary"><strong>{% t navigation.main.index.benefits.financial_strategic_management %}</strong></h2>
      <p>Eficiência operacional, organização, otimização de recursos, agilidade na tomada de decisões, melhoria de
        desempenho, conformidade e governança…</p>
      <p>Centralize os seus processos de gestão com a Cfaz!</p>
    </div>
  </div>
</section>

<!-- ======= Fluxo de Gestão Cfaz ======= -->
<section id="management-flow" class="py-5">
  <div class="container-xxl d-flex align-items-center justify-content-between" data-aos="fade-up">
    <div class="col-md-6">
      <h2 class="text-primary"><strong>Fluxo de Gestão Cfaz</strong></h2>
      <p>Centralize em uma mesma plataforma a realização e distribuição de exames, além de toda a gestão financeira e
        estratégica do seu Centro Veterinário!</p>
      <p><strong>Ganhe agilidade e eficiência, economize recursos e foque no que realmente importa: a saúde do paciente
          e o desenvolvimento do seu negócio.</strong></p>
    </div>
    <div class="col-md-6 text-center">
      VIDEO YOUTUBE
    </div>
  </div>
</section>

<!-- ======= Telerradiologia ======= -->
<section id="management-flow" class="background py-5">
  <div class="container-xxl d-flex align-items-center justify-content-between" data-aos="fade-up">
    <div class="text-center">
      <img class="w-90" src="./assets/img/servicos-funcionalidades/telerradiologia-vet.png"  alt="Demonstração da funcionalidade no sistema">
    </div>
    <div class="col-md-6">
      <h2 class="text-primary"><strong>{% t navigation.main.index.plans.teleradiology %}</strong></h2>
      <p><strong>Acesso rápido de qualquer lugar, proporcionando redução de custos, flexibilidade e
          escalabilidade</strong></p>
      <p>Conectamos seu Centro de Imagem a profissionais de todo o Brasil e do exterior por meio de uma plataforma
        unificada com soluções projetadas para facilitar a terceirização de laudos e exames. Você envia as imagens para
        seus laudadores e recebe os laudos concluídos, tudo pelo Cfaz.net.</p>
    </div>
  </div>
</section>

<!-- ======= Suporte Técnico Humanizado ======= -->
<section class="py-5">
  {% include humanized-technical-support.html %}
</section>

<!-- ======= Planos sob medida (todos os planos) ======= -->
<section id="hospital-tailor-made-plans" class="py-5">
  <div class="container-xxl" data-aos="fade-up">
    <div class="row d-flex justify-content-center text-center">
      <h2 class="col-md-6 mb-4">Planos sob medida para a Gestão de Centros de Hospitais, Centros de Radiolgia e Distribuição de Exames</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" class="text-center">
            <img class="mb-2" src="./assets/img/icons/plan_telerradiologia_white.png" alt="Ícone de uma lupa sobre um raio-x em um computador">
            <p class="text-secondary-light">{% t navigation.main.index.plans.teleradiology %}</p>
          </th>
          <th scope="col" class="text-center">
            <img class="mb-2" src="./assets/img/icons/plan_consultorios_white.png" alt="Ícone de uma fachada de um consultório">
            <p class="text-secondary-light">{% t navigation.main.index.plans.consultancies %}</p>
          </th>
          <th scope="col" class="text-center">
            <img class="mb-2" src="./assets/img/icons/plan_clinicas_white.png" alt="Ícone de uma caderneta">
            <p class="text-secondary-light">{% t navigation.main.index.plans.clinics %}</p>
          </th>
          <th scope="col" class="text-center">
            <img class="mb-2" src="./assets/img/icons/plan_centro_radiologia_white.png" alt="Ícone de um aparelho de radiologia">
            <p class="text-secondary-light">{% t navigation.main.index.plans.radiology_centers %}</p>
          </th>
          <th scope="col" class="text-center">
            <img class="mb-2" src="./assets/img/icons/plan_centrais_laudo_white.png" alt="Ícone de uma folha com checklist">
            <p class="text-secondary-light">{% t navigation.main.index.plans.reporting_centers %}</p>
          </th>
          <th scope="col" class="text-center">
            <img class="mb-2" src="./assets/img/icons/plan_hospitais_white.png" alt="Ícone de um hospital">
            <p class="text-secondary-light">{% t navigation.main.index.plans.hospitals %}</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-secondary">{% t navigation.main.index.benefits.humanized_technical_support %}</th>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.cfaz_app %}</th>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.index.benefits_program.benefits_program %}</th>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.agendas %}</th>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.patient_management %}</th>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.service_management %}</th>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.requestor_management %}</th>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.exams_conducting_outsourcing %}</th>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.index.benefits.financial_management %}</th>
          <td class="plan-x"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.online_request %}</th>
          <td class="plan-x"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.queries %}</th>
          <td class="plan-x"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.management_agreements_procedures %}</th>
          <td class="plan-x"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.management_agreements_procedures %}</th>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.online_recipe %}</th>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.document_management %}</th>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.digital_signature %}</th>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.print %}</th>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.exams %}</th>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.integration_devices_printers %}</th>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.index.benefits.api_Interoperability %}</th>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.report_center_customer_management %}</th>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th class="text-secondary">{% t navigation.main.plans_services_features.dropbox %}</th>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-x"></td>
          <td class="plan-v"></td>
          <td class="plan-v"></td>
        </tr>
        <tr>
          <th></th>
          <td class="text-center">
            <small>{% t navigation.main.from %} </small>
            <p class="mb-0"><strong>R$ 99</strong><small>(50 {% t navigation.main.index.exams%})</small></p>
            <button class="btn btn-primary inline-flex justify-content-between align-items-flex-start mt-2" data-bs-toggle="modal" data-bs-target="#modal_telerradiologia">
              <span class="text-primary">{% t navigation.main.index.button_contact %}</span>
            </button>
          </td>
          <td class="text-center">
            <small>{% t navigation.main.from %} </small>
            <p class="mb-0"><strong>R$ 99/{% t navigation.main.index.month %}</strong></p>
            <button class="btn btn-primary inline-flex justify-content-between align-items-flex-start mt-2" data-bs-toggle="modal" data-bs-target="#modal_consultorios">
              <span class="text-primary">{% t navigation.main.index.button_contact %}</span>
            </button>
          </td>
          <td class="text-center">
            <small>{% t navigation.main.from %} </small>
            <p class="mb-0"><strong>R$ 159/{% t navigation.main.index.month %}</strong></p>
            <button class="btn btn-primary inline-flex justify-content-between align-items-flex-start mt-2" data-bs-toggle="modal" data-bs-target="#modal_clinicas">
              <span class="text-primary">{% t navigation.main.index.button_contact %}</span>
            </button>
          </td>
          <td class="text-center">
            <small>{% t navigation.main.from %} </small>
            <p class="mb-0"><strong>R$ 199/{% t navigation.main.index.month %}</strong></p>
            <button class="btn btn-primary inline-flex justify-content-between align-items-flex-start mt-2" data-bs-toggle="modal" data-bs-target="#modal_centros_radiologia">
              <span class="text-primary">{% t navigation.main.index.button_contact %}</span>
            </button>
          </td>
          <td class="text-center">
            <small>{% t navigation.main.from %} </small>
            <p class="mb-0"><strong>R$ 249/{% t navigation.main.index.month %}</strong></p>
            <button class="btn btn-primary inline-flex justify-content-between align-items-flex-start mt-2" data-bs-toggle="modal" data-bs-target="#modal_centrais_laudo">
              <span class="text-primary">{% t navigation.main.index.button_contact %}</span>
            </button>
          </td>
          <td class="text-center">
            <small>{% t navigation.main.from %} </small>
            <p class="mb-0"><strong>R$ 399/{% t navigation.main.index.month %}</strong></p>
            <button class="btn btn-primary inline-flex justify-content-between align-items-flex-start mt-2" data-bs-toggle="modal" data-bs-target="#modal_hospitais">
              <span class="text-primary">{% t navigation.main.index.button_contact %}</span>
            </button>
          </td>
        </tr>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- ======= Laudo por voz + Acesso via QR Code ======= -->
<section id="" class="background py-5">
  <div class="d-flex align-items-center justify-content-between" data-aos="fade-up">
    <div class="container-xxl">
      <div>
        <h2 class="text-primary"><strong>{% t navigation.main.index.benefits.voice_report %}</strong></h2>
        <p>Na Cfaz você conta com diversas facilidades para a emissão de laudos de forma prática e eficiente.</p>
        <ul>
          <li>QR code no laudo para acesso rápido ao resultado, sem precisar de login;</li>
          <li>Laudos em voz e com máscaras personalizadas e automáticas;</li>
          <li>Ferramentas de medição e marcação das imagens;</li>
          <li>Reconhecimento de voz para laudo narrado;</li>
          <li>Compartilhe e saiba quando o laudo for visualizado.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 text-end">
      <img class="w-90" src="./assets/img/servicos-funcionalidades/laudo-voz.png" alt="Demonstração da funcionalidade no sistema">
    </div>
  </div>
</section>

<!-- ======= Simplifique a Emissão de Notas Fiscais com a Cfaz ======= -->
<section class="py-5">
  {% include nfe.html %}
</section>

<!-- ======= Gestão Multiclínicas ======= -->
<section id="multiclinic-management" class="background py-5">
  {% include multiclinic-management.html %}
</section>

<!-- ======= Dicom ======= -->
<section class="py-5">
  <div class="container-xxl d-flex align-items-center justify-content-between" data-aos="fade-up">
    <div class="col-md-6 text-center">
      <img src="./assets/img/servicos-funcionalidades/dicom.png" alt="Profissionais de radiologia trabalhando">
    </div>
    <div class="col-md-6">
      <h2 class="text-primary"><strong>Integração DICOM com todos os aparelhos do mercado</strong></h2>
      <p><strong>Acesso rápido aos resultados e informações centralizadas com nosso PACS Online</strong></p>
      <p>Suporte nativo a Worklist e PACS, permitindo integração com qualquer aparelho e impressoras DRY, para impressões de forma inteligente, quando necessário, economizando tempo e recursos.</p>
    </div>
  </div>
</section>

<!-- ======= Relatórios 100% Customizáveis (imagem diferente) ======= -->
<section class="background py-5">
  <div class="container-xxl d-flex align-items-center justify-content-between" data-aos="fade-up">
    <div class="col-md-6">
      <h2 class="text-primary"><strong>{% t navigation.main.index.benefits.customizable_reports %}</strong></h2>
      <p>Controle o desempenho do seu negócio, tendo uma ampla visão de processos e crie qualquer tipo de relatório
        necessário com nossa ferramenta de agrupamentos.</p>
      <p><strong>Monte relatórios financeiros</strong>, como cálculo de comissões, lançamentos de despesas e receitas.</p>
      <p>Faça a <strong>gestão de produtividade e gestão estratégica</strong> de agendamentos, ticket médio, horários de
        pico, mapa de parceiros, controle dos procedimentos e entrega de exames.</p>
    </div>
    <div class="col-md-6 text-center">
      <img class="w-90" src="./assets/img/servicos-funcionalidades/relatorios-customizaveis-vet.png" alt="Demonstração da funcionalidade no sistema">
    </div>
  </div>
</section>

{% include contact.html %}
{% include app.html %}
{% include newsletter.html %}