<!-- ======= Certificação ANVISA ======= -->
<div class="anvisa-graphic-image"></div>
<div class="anvisa-image"></div>
<div class="container-xxl" data-aos="fade-up">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h2 class="text-primary mb-3"><strong>{% t navigation.main.index.benefits.anvisa %}</strong></h2>
      <p>{% t navigation.main.hospitais.anvisa.text %}</p>
      <p>{% t navigation.main.hospitais.anvisa.text2 %}</p>
      <small><a class="text-secondary-light hover_underline" target="_blank" href="https://consultas.anvisa.gov.br/#/saude/25351182044202394/?nomeProduto=Cfaz.net" class="text-secondary-light">{% t navigation.main.index.security_credibility.record %}: 82578410001</a></small>
    </div>
  </div>
</div>