<!-- ======= Certificação ANVISA ======= -->
<section id="anvisa" class="position-relative py-5">
  <div class="anvisa-graphic-image"></div>
  <div class="anvisa-image"></div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="text-primary mb-3"><strong>Certificação ANVISA</strong></h2>
        <p>A Cfaz é uma fabricante de produtos médicos (softwares) devidamente registrada e certificada pela ANVISA.</p>
        <p>Ao utilizar um software certificado como o Cfaz.net, os profissionais e principalmente os pacientes envolvidos contam com a segurança e a confiabilidade de um produto avaliado e aprovado pela autoridade máxima em regulação de saúde no Brasil.</p>
        <small><a class="text-secondary-light hover_underline" target="_blank" href="https://consultas.anvisa.gov.br/#/saude/25351182044202394/?nomeProduto=Cfaz.net" class="text-secondary-light">Registro: 82578410001</a></small>
      </div>
    </div>
  </div>
</section>