<section id="app" class="mt-5 mb-5 mb-lg-0" data-aos="fade-up">
  <section class="app d-block d-md-flex align-items-center">
    <div class="col-lg-8 col-md-12 text-center">
      <h1 class="h3">{% t navigation.main.index.app %}</h1>
      <a class="btn btn-primary d-inline-flex justify-content-between align-items-flex-start mt-2" target="_blank" href="https://apps.apple.com/us/app/cfaz-net/id1609074748">
        <img class="me-3" src="./assets/img/icons/app-apple.png" alt="{% t alt.index.app.apple %}">
        <span class="text-secondary">App Store</span>
      </a>
      <a class="btn btn-primary d-inline-flex justify-content-between align-items-flex-start mt-2" target="_blank" href="https://play.google.com/store/apps/details?id=max.cfaz.net&pli=1">
        <img class="me-3" src="./assets/img/icons/app-google.png" alt="{% t alt.index.app.google %}">
        <span class="text-secondary">Play Store</span>
      </a>
    </div>
    <div class="col-lg-4 d-none d-lg-block text-end">
      <img class="w-100" src="./assets/img/app.png" alt="{% t alt.index.app.apresentation %}">
    </div>
  </section>
</section>