<section id="appCfaz" class="bg-primary pt-64 pb-64 mt-24">
  <div class="container">
    <div class="row mobile-reverse">
      <div class="col-md-6 col-sm-12" data-aos="fade-up">
        <img src="assets/img/cfazApp1.webp" alt="{% t alt.app %}">
      </div>
      <div class="col-md-6 col-sm-12 text-end" data-aos="fade-up">
        <h5 class="mb-32">{% t navigation.main.appCfaz.title1 %}</h5>
        <p class="text-white">{% t navigation.main.appCfaz.subtitle %}</p>
        <div class="mobile-none">
          <a class="btn btn-primary mb-8 mt-16" data-bs-toggle="modal" data-bs-target="#contact_modal">{% t navigation.main.btn %}</a>
        </div>
      </div>
    </div>
  </div>
</section>