<section id="appCfaz" class="bg-primary pt-80 pb-80">
  <div class="container">
    <div class="row">
      <div class="col col-md-6">
        <img src="assets/img/cfazApp1.png" alt="Imagens CfazMax no Aplicativo">
      </div>
      <div class="col col-md-6 text-end">
        <h5 class="mb-32">{% t pt-BR.navigation.main.appCfaz.title1 %}</h5>
        <p class="text-white">{% t pt-BR.navigation.main.appCfaz.subtitle %}</p>
        <div>
          <a href="#about" class="btn btn-primary mt-3 mb-5 scrollto">{% t pt-BR.navigation.main.btn %}</a>
        </div>
      </div>
    </div>
  </div>
</section>