<section id="appCfaz" class="bg-primary pt-80 pb-80">
  <div class="container">
    <div class="row mobile-reverse">
      <div class="col-md-6 col-sm-12" data-aos="fade-right">
        <img src="assets/img/cfazApp1.jpg" alt="Imagens CfazMax no Aplicativo">
      </div>
      <div class="col-md-6 col-sm-12 text-end" data-aos="fade-left">
        <h5 class="mb-32">{% t navigation.main.appCfaz.title1 %}</h5>
        <p class="text-white">{% t navigation.main.appCfaz.subtitle %}</p>
        <div>
          <a class="btn btn-primary mt-3 mb-5" data-bs-toggle="modal" data-bs-target="#contact_modal">{% t navigation.main.btn %}</a>
        </div>
      </div>
    </div>
  </div>
</section>