<section id="artificial_intelligence" class="mt-64">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12" data-aos="fade-right">
        <h5 class="text-primary mb-32"><b>{% t navigation.main.artificial_intelligence.title %}</b></h5>
        <p class="mb-8">{% t navigation.main.artificial_intelligence.subtitle %}</p>
        <div class="mobile-none">
          <a class="btn btn-secondary mb-8 mt-16" data-bs-toggle="modal" data-bs-target="#contact_modal">{% t navigation.main.btn %}</a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12" data-aos="fade-up">
        <img src="assets/img/IA.webp" alt="Imagem Inteligência Artificial">
      </div>
    </div>
  </div>
</section>