<section id="artificial_intelligence">
  <div class="container">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="text-primary mb-32"><b>Tecnologia desenvolvida pelo nosso time de Engenharia</b></h5>
        <p>A Inteligência Artificial da Cfaz está presente em nossa ferramenta de Traçados Cefalométricos - para a Radiologia Odontológica - e na Identificação Automática de Imagens para montagem de templates. O Radiologista reduz o tempo gasto para realizar um traçado, economiza recursos e pode focar no que realmente importa: a saúde do paciente e o desenvolvimento do seu negócio.</p>
        <div>
          <a href="#" class="btn btn-secondary mt-3 mb-5 scrollto">QUERO FALAR COM UM CONSULTOR</a>
        </div>
      </div>
      <div class="col col-md-6">
        <img src="assets/img/IA.png" alt="Imagem Inteligência Artificial">
      </div>
    </div>
  </div>
</section>