<section id="benefit_productivity">
  <div class="container">
    <h5 class="text-primary text-center mb-54">Te ajudamos a aumentar a sua <b>produtividade</b>, reduzir custos e melhorar seus resultados</h5>
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_redes1.png" alt="Ícone 100% online">
          <div>
            <p class="mb-8 text-secondary"><b>GESTÃO UNIFICADA DE REDES ODONTOLÓGICAS OU MÉDICAS</b></p>
            <p>Administre toda a rede de clínicas ou centros médicos em um único sistema, visualizando indicadores de toda a rede ou de cada centro separadamente.</p>
          </div>
        </div>
        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_atualização.png" alt="Ícone PAC online">
          <div>
            <p class="mb-8 text-secondary"><b>ATUALIZAÇÕES AUTOMÁTICAS E GRATUITAS</b></p>
            <p>Esteja sempre à frente dos seus concorrentes com um sistema atualizado na sua medida. Todas as atualizações são automáticas para todos os clientes, ou seja, não precisam ser instaladas nem compradas à parte.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_tempo_real.png" alt="Ícone RIS online">
          <div>
            <p class="mb-8 text-secondary"><b>ENTREGA EM TEMPO REAL</b></p>
            <p>Armazene automaticamente as imagens e entregue para solicitantes em tempo real, logo em seguida à aquisição da imagem, com apenas um clique.</p>
          </div>
        </div>        
        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_atendimento.png" alt="Ícone máxima qualidade de imagem">
          <div>
            <p class="mb-8 text-secondary"><b>EXCELÊNCIA NO ATENDIMENTO</b></p>
            <p>Um time qualificado e multidisciplinar realiza o nosso atendimento de forma humanizada, em tempo real, via Whatsapp, telefone, e-mail ou ainda Chat Direto no sistema.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a href="#" class="btn btn-secondary mt-3 mb-5 scrollto">QUERO FALAR COM UM CONSULTOR</a>
    </div>
  </div>
</section>