<section id="benefit_transformation" class="mt-64">
  <div class="container">
    <h5 class="text-primary text-center mb-54">{% t pt-BR.navigation.main.benefit.title %}</h5>
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_online1.png" alt="Ícone 100% online">
          <div>
            <p class="mb-8 text-secondary"><b>{% t pt-BR.navigation.main.benefit.item1 %}</b></p>
            <p>{% t pt-BR.navigation.main.benefit.item1_text %}</p>
          </div>
        </div>

        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_pac1.png" alt="Ícone PAC online">
          <div>
            <p class="mb-8 text-secondary"><b>{% t pt-BR.navigation.main.benefit.item2 %}</b></p>
            <p>{% t pt-BR.navigation.main.benefit.item2_text %}</p>
          </div>
        </div>

        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_CfazManager1.png" alt="Ícone RIS online">
          <div>
            <p class="mb-8 text-secondary"><b>{% t pt-BR.navigation.main.benefit.item3 %}</b></p>
            <p>{% t pt-BR.navigation.main.benefit.item3_text %}</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_imagem1.png" alt="Ícone máxima qualidade de imagem">
          <div>
            <p class="mb-8 text-secondary"><b>{% t pt-BR.navigation.main.benefit.item4 %}</b></p>
            <p>{% t pt-BR.navigation.main.benefit.item4_text %}</p>
          </div>
        </div>

        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_dicon1.png" alt="Ícone DICOM">
          <div>
            <p class="mb-8 text-secondary"><b>{% t pt-BR.navigation.main.benefit.item5 %}</b></p>
            <p>{% t pt-BR.navigation.main.benefit.item5_text %}</p>
          </div>
        </div>

        <div class="d-flex align-items-start mb-32">
          <img src="assets/img/icones/icone_STL1.png" alt="Ícone mundo online">
          <div>
            <p class="mb-8 text-secondary"><b>{% t pt-BR.navigation.main.benefit.item6 %}</b></p>
            <p>{% t pt-BR.navigation.main.benefit.item6_text %}</p>
          </div>
        </div>

        <div class="d-flex align-items-start">
          <img src="assets/img/icones/icone_tomografia.png" alt="Ícone mundo online">
          <div>
            <p class="mb-8 text-secondary"><b>{% t pt-BR.navigation.main.benefit.item8 %}</b></p>
            <p>{% t pt-BR.navigation.main.benefit.item8_text %}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
  </div>
</section>