<!-- ======= Contatos ======= -->
<section id="contato">
  <div class="container-xxl my-5 my-sm-1">
    <h2 class="h4 text-center"><strong>{% t navigation.main.index.contact.title %}</strong></h2>
    <div class="row my-2 my-lg-5">
      <div class="col-lg-3 col-md-12 mb-3 mb-lg-0">
        <div class="card card-technical-support shadow border-0 py-3 px-3">
          <div class="card-body">
            <p class="mb-4"><strong>{% t navigation.main.index.contact.technical_support %}</strong></p>
            <div class="d-flex align-items-center mb-4">
              <img src="./assets/img/icons/icon-whatsapp.webp" loading="lazy" alt="{% t alt.index.contact.whatsapp %}">
              <a class="ms-3 mb-0 text-secondary hover_underline" target="_blank" rel="noreferrer" href="https://api.whatsapp.com/send?phone=553139560980&text=Ol%C3%A1!%20Eu%20gostaria%20de%20saber%20mais%20sobre%20o%20sistema%20de%20voc%C3%AAs.">(31) 3956-0980</a>
            </div>
            <div class="d-flex align-items-center mb-4">
              <img src="./assets/img/icons/icon-email.webp" loading="lazy" alt="{% t alt.index.contact.email %}">
              <a class="ms-3 mb-0 text-secondary hover_underline" target="_blank" rel="noopener" href="mailto:suporte@cfaz.net">suporte@cfaz.net</a>
            </div>
            <div class="d-flex align-items-center">
              <img src="./assets/img/icons/icon-suporte.webp" loading="lazy" alt="{% t alt.index.contact.technical_support %}">
              <a class="ms-3 mb-0 text-secondary hover_underline" target="_blank" rel="noreferrer" href="https://max.cfaz.net/">{% t navigation.main.index.contact.call_center %}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-3 mb-lg-0">
        <div class="card card-sales shadow border-0 py-4 px-3 px-xl-5">
          <div class="card-body">
            <p class="mb-4 text-center"><strong>{% t navigation.main.index.contact.sales %}</strong></p>
            <div class="d-flex align-items-center mb-4">
              <img src="./assets/img/icons/icon-whatsapp.webp" loading="lazy" alt="{% t alt.index.contact.whatsapp %}">
              <p class="mb-0"><a class="ms-3 mb-0 text-secondary hover_underline" target="_blank" rel="noreferrer" href="https://api.whatsapp.com/send?phone=5538998321411&text=Ol%C3%A1%20Natalia!%20Eu%20gostaria%20de%20saber%20mais%20sobre%20o%20sistema%20de%20voc%C3%AAs.">(38)
                9 9832-1411</a> <small>Natália</small></p>
            </div>
            <div class="d-flex align-items-center">
              <img src="./assets/img/icons/icon-email.webp" loading="lazy" alt="{% t alt.index.contact.email %}">
              <a class="ms-3 mb-0 text-secondary hover_underline" target="_blank" rel="noopener"
                href="mailto:vendas@cfaz.net">vendas@cfaz.net</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 mb-3 mb-lg-0">
        <div class="card card-financial shadow border-0 py-3 px-3">
          <div class="card-body">
            <p class="mb-4"><strong>{% t navigation.main.index.contact.financial %}</strong></p>
            <div class="d-flex align-items-center mb-4">
              <img src="./assets/img/icons/icon-whatsapp.webp" loading="lazy" alt="{% t alt.index.contact.whatsapp %}">
              <a class="ms-3 mb-0 text-secondary hover_underline" target="_blank" rel="noreferrer"
                href="https://api.whatsapp.com/send?phone=553139560980&text=Ol%C3%A1!%20Eu%20gostaria%20de%20saber%20mais%20sobre%20o%20sistema%20de%20voc%C3%AAs.">(31)
                3956-0980</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>