<!-- ======= Contatos ======= -->
<section id="contact" class="my-5">
  <div class="container-fluid">
    <h2 class="text-center"><strong>Contatos</strong></h2>
    <div class="row mt-5">
      <div class="col">
        <div class="card shadow border-0 py-3 px-3" style="height: 264px;">
          <div class="card-body">
            <h2 class="mb-4"><strong>Suporte Técnico</strong></h2>
            <div class="d-flex align-items-center mb-4">
              <img src="./assets/img/icons/icon-whatsapp.png">
              <a class="ms-3 mb-0 text-secondary hover_underline" target="_blank"
                href="https://api.whatsapp.com/send?phone=553139560980&text=Ol%C3%A1%20Natalia!%20Eu%20gostaria%20de%20saber%20mais%20sobre%20o%20sistema%20de%20voc%C3%AAs.%20%3A">(31)
                3956-0980</a>
            </div>
            <div class="d-flex align-items-center mb-4">
              <img src="./assets/img/icons/icon-email.png">
              <a class="ms-3 mb-0 text-secondary hover_underline" target="_blank"
                href="mailto:suporte@cfaz.net">suporte@cfaz.net</a>
            </div>
            <div class="d-flex align-items-center">
              <img src="./assets/img/icons/icon-suporte.png">
              <a class="ms-3 mb-0 text-secondary hover_underline" target="_blank" href="https://max.cfaz.net/">Ir para a
                central de atendimento</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="sales card shadow border-0 py-4 px-5" style="height: 328px; margin-top: -32px;">
          <div class="card-body">
            <h2 class="mb-4"><strong>Vendas</strong></h2>
            <div class="d-flex align-items-center mb-4">
              <img src="./assets/img/icons/icon-whatsapp.png">
              <p class="mb-0"><a class="ms-3 mb-0 text-secondary hover_underline" target="_blank"
                  href="https://api.whatsapp.com/send?phone=5538998321411&text=Ol%C3%A1%20Natalia!%20Eu%20gostaria%20de%20saber%20mais%20sobre%20o%20sistema%20de%20voc%C3%AAs.%20%3A">(38)
                  9 9832-1411</a> <small>Natália</small></p>
            </div>
            <div class="d-flex align-items-center">
              <img src="./assets/img/icons/icon-email.png">
              <a class="ms-3 mb-0 text-secondary hover_underline" target="_blank"
                href="mailto:vendas@cfaz.net">vendas@cfaz.net</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow border-0 py-3 px-3" style="height: 264px;">
          <div class="card-body">
            <h2 class="mb-4"><strong>Financeiro</strong></h2>
            <div class="d-flex align-items-center mb-4">
              <img src="./assets/img/icons/icon-whatsapp.png">
              <a class="ms-3 mb-0 text-secondary hover_underline" target="_blank"
                href="https://api.whatsapp.com/send?phone=553139560980&text=Ol%C3%A1%20Natalia!%20Eu%20gostaria%20de%20saber%20mais%20sobre%20o%20sistema%20de%20voc%C3%AAs.%20%3A">(31)
                3956-0980</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>