<section id="contact_us" class="mt-64 mb-64">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div data-aos="fade-right">
          <h5 class="text-primary"><b>{% t navigation.main.contact_us.title %}</b></h5>
          <p class="mb-32">{% t navigation.main.contact_us.subtitle %}</p>
        </div>
        <div class="mb-32" data-aos="zoom-in" data-aos-delay="200">
          <div class="d-flex align-items-center">
            <img src="assets/img/icones/icone_check.png" alt="Ícone de checklist">
            <h6 class="mb-0"><b>{% t navigation.main.contact_us.data_security %}</b></h6>
          </div>
          <p>{% t navigation.main.contact_us.data_security_text %}</p>
        </div>
        <div class="mb-32" data-aos="zoom-in" data-aos-delay="200">
          <div class="d-flex align-items-center">
            <img src="assets/img/icones/icone_check.png" alt="Ícone de checklist">
            <h6 class="mb-0"><b>{% t navigation.main.contact_us.storage %}</b></h6>
          </div>
          <p>{% t navigation.main.contact_us.storage_text %}</p>
        </div>
        <div data-aos="zoom-in" data-aos-delay="200">
          <div class="d-flex align-items-center">
            <img src="assets/img/icones/icone_check.png" alt="Ícone de checklist">
            <h6 class="mb-0"><b>{% t navigation.main.contact_us.LGPD %}</b></h6>
          </div>
          <p>{% t navigation.main.contact_us.LGPD_text %}</p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12" data-aos="fade-left">
        <div class="card shadow form">
          <div id="form_contact d-flex justify-content-center"></div>
        </div>
      </div>
    </div>
  </div>
</section>