<!-- ======= Dicom ======= -->
<div class="container-xxl d-flex align-items-center justify-content-between" data-aos="fade-up">
  <div class="col-md-6">
    <h2 class="text-primary"><strong>Integração DICOM com todos os aparelhos do mercado</strong></h2>
    <p><strong>Acesso rápido aos resultados e informações centralizadas com nosso PACS Online</strong></p>
    <p>Suporte nativo a Worklist e PACS, permitindo integração com qualquer aparelho e impressoras DRY, para impressões de forma inteligente, quando necessário, economizando tempo e recursos.</p>
  </div>
  <div class="col-md-6 text-end">
    <img src="./assets/img/servicos-funcionalidades/dicom.png" alt="Profissionais de radiologia trabalhando">
  </div>
</div>