<section id="faleConosco">
  <div class="container">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="text-primary"><b>Fale com um de nossos <br/>consultores</b></h5>
        <p>Saiba quais vantagens o Cfaz.net oferece em relação a outros sistemas quanto a economia de tempo, redução de custos e aumento da produtividade e do faturamento.</p>
        <div class="mb-32">
          <div class="d-flex align-items-center">
            <img src="assets/img/icones/icone_check.png" alt="Ícone de checklist">
            <h6 class="mb-0"><b>SEGURANÇA DOS DADOS</b></h6>
          </div>
          <p>Nossos clientes se beneficiam com a segurança e a robustez da mesma infraestrutura de nuvem utilizada pela Google em serviços como seu Buscador, Gmail e Youtube.</p>
        </div>
        <div class="mb-32">
          <div class="d-flex align-items-center">
            <img src="assets/img/icones/icone_check.png" alt="Ícone de checklist">
            <h6 class="mb-0"><b>ARMAZENAMENTO POR 20 ANOS</b></h6>
          </div>
          <p>Atendendo as normas de todos conselhos de saúde: CFO, CFM, ANVISA etc.</p>
        </div>
        <div>
          <div class="d-flex align-items-center">
            <img src="assets/img/icones/icone_check.png" alt="Ícone de checklist">
            <h6 class="mb-0"><b>ADEQUAÇÃO À LGPD</b></h6>
          </div>
          <p>Adotamos os mais avançados protocolos de segurança para garantir a integridade e a inviolabilidade dos dados dos pacientes, além de nos comprometermos a não utilizar ou compartilhar os dados sem seu consentimento.</p>
        </div>
      </div>
      <div class="col col-md-6 form">
        
      </div>
    </div>
  </div>
</section>