<!-- ======= Google Cloud Platform ======= -->
<div class="container-xxl">
  <div class="row align-items-center justify-content-between">
    <div class="col-lg-6 col-md-12 text-center order-2 order-lg-1">
      <img class="w-50 w-lg-auto" src="./assets/img/servicos-funcionalidades/google-cloud.png" alt="{% t alt.services_features.google_cloud_platform %}">
    </div>
    <div class="col-lg-6 col-md-12 order-1 order-lg-2">
      <h2 class="h4 text-primary"><strong>{% t navigation.main.index.benefits.google_cloud_platform %}</strong></h2>
      <p>{% t navigation.main.hospitais.google_cloud_platform.text %}</p>
      <p>{% t navigation.main.hospitais.google_cloud_platform.text2 %}</p>
      <p>{% t navigation.main.hospitais.google_cloud_platform.text3 %}</p>
    </div>
  </div>
</div>