<!-- ======= Google Cloud Platform ======= -->
<div class="container-xxl d-flex align-items-center justify-content-between" data-aos="fade-up">
  <div class="col-md-6 text-center">
    <img src="./assets/img/servicos-funcionalidades/google-cloud.png" alt="Tela com dados protegidos na google cloud platform">
  </div>
  <div class="col-md-6">
    <h2 class="text-primary"><strong>{% t navigation.main.index.benefits.google_cloud_platform %}</strong></h2>
    <p>{% t navigation.main.hospitais.google_cloud_platform.text %}</p>
    <p>{% t navigation.main.hospitais.google_cloud_platform.text2 %}</p>
    <p>{% t navigation.main.hospitais.google_cloud_platform.text3 %}</p>
  </div>
</div>