<!-- ======= Suporte Técnico Humanizado ======= -->
<div class="container-xxl">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6 col-sm-12">
      <h2 class="h4 text-primary"><strong>{% t navigation.main.index.benefits.humanized_technical_support %}</strong></h2>
      <p>{% t navigation.main.hospitais.humanized_support.text %}</p>
      <p>{% t navigation.main.hospitais.humanized_support.text2 %}</p>
      <p>{% t navigation.main.hospitais.humanized_support.text3 %}</p>
      <div class="card shadow py-2 border-0 card shadow py-2 border-0">
        <div class="card-body">
          <div class="ms-3" style="line-height: 110%;">
            <small><strong>{% t navigation.main.hospitais.humanized_support.real_time_service %}</strong></small><br><br>
            <small class="text-secondary-light">{% t navigation.main.hospitais.humanized_support.days_week %}</small><br><br>
            <small class="text-secondary-light mt-2">{% t navigation.main.hospitais.humanized_support.channels %}</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 text-center mt-3 mt-lg-0">
      <img class="w-75 w-sm-auto" src="./assets/img/servicos-funcionalidades/suporte-tecnico.png" alt="{% t alt.services_features.humanized_support.apresentation %}" width="350">
    </div>
  </div>
</div>