<!-- ======= Suporte Técnico Humanizado ======= -->
<div class="container-xxl d-flex align-items-center justify-content-between">
  <div class="col-md-6">
    <h2 class="text-primary"><strong>Suporte Técnico Humanizado</strong></h2>
    <p>A <strong>Melhor Experiência do Cliente</strong> do Mercado!</p>
    <p>Não fique na fila de espera e nem seja atendido por robôs. Com a Cfaz, você será atendido, em média, em 2 minutos.</p>
    <p>Nossa equipe multidisciplinar recebe um treinamento intensivo para que você tenha rapidamente a solução que precisa!</p>
    <div class="card shadow py-2 border-0 card shadow py-2 border-0">
      <div class="card-body">
        <div class="ms-3" style="line-height: 110%;">
          <small><strong>Atendimento em Tempo Real</strong></small><br><br>
          <small class="text-secondary-light">Segunda a sexta-feira: de 8h às 18h <br> Sábado: de 8h às 12h</small><br><br>
          <small class="text-secondary-light mt-2">Canais: Chat direto no sistema, WhatsApp, telefone ou e-mail.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 text-center">
    <img src="./assets/img/servicos-funcionalidades/suporte-tecnico.png" width="350" alt="">
  </div>
</div>