<!-- ======= I.A. ======= -->
<div class="container-xxl d-flex align-items-center justify-content-between">
  <div class="col-md-6 text-center">
    <img class="w-90" src="./assets/img/servicos-funcionalidades/ia.png" alt="">
  </div>
  <div class="col-md-6">
    <h2 class="text-primary"><strong>I.A.</strong></h2>
    <p><strong>A Inteligência Artificial já faz parte de nosso presente e potencializa a Radiologia.</strong></p>
    <p>A Cfaz já usa a I.A. na ferramenta de Traçados Cefalométricos, podendo atingir 99% de precisão, e na Identificação Automática de Imagens, reduzindo ao máximo o tempo gasto pelo Radiologista, e economizando recursos.</p>
    <p><strong>Otimize e modernize o seu negócio!</strong></p>
  </div>
</div>