<!-- ======= LGPD ======= -->
<div class="container-xxl d-flex align-items-center justify-content-between">
  <div class="col-md-6">
    <h2 class="text-primary"><strong>LGPD</strong></h2>
    <p><strong>Segurança e confiabilidade no tratamento dos dados</strong></p>
    <p>Todos os dados coletados através do Cfaz.net são armazenados de maneira segura, seguindo as rígidas normas e padrões estabelecidos pela ISO 27001.</p>
    <p>Oferecemos ferramentas para a gestão eficiente dos termos de consentimento assinados pelos pacientes na coleta dos dados, para que os Centros de Saúde estejam também em conformidade com as regulamentações.</p>
  </div>
  <div class="col-md-6 text-center">
    <img src="./assets/img/servicos-funcionalidades/lgpd.png" alt="">
  </div>
</div>