<!-- ======= LGPD ======= -->
<div class="container-xxl d-flex align-items-center justify-content-between" data-aos="fade-up">
  <div class="col-md-6">
    <h2 class="text-primary"><strong>{% t navigation.main.index.benefits.lgpd %}</strong></h2>
    <p><strong>{% t navigation.main.hospitais.lgpd.subtitle %}</strong></p>
    <p>{% t navigation.main.hospitais.lgpd.text %}</p>
    <p>{% t navigation.main.hospitais.lgpd.text2 %}</p>
  </div>
  <div class="col-md-6 text-center">
    <img src="./assets/img/servicos-funcionalidades/lgpd.png" alt="Pessoa adicionando objetos em um cofre">
  </div>
</div>