<!-- Modal -->
<div class="modal fade" id="contact_modal" tabindex="-1" aria-labelledby="contact_modal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div>
					<h5><b>Fale com um de nossos consultores</b></h5>
					<small>Descubra as várias vantagens que o sistema Cfaz.net oferece em relação a outros sistemas quanto a economia de tempo, redução de custos e aumento da produtividade e do faturamento.</small>
				</div>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="form_contact_modal"></div>
			</div>
		</div>
	</div>
</div>