<!-- Modal Radiologistas -->
<div class="modal fade" id="modal_radiologistas" tabindex="-1" aria-labelledby="modal_radiologistas" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Fale com um de nossos consultores</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="radiologistas"></div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Consultórios -->
<div class="modal fade" id="modal_consultorios" tabindex="-1" aria-labelledby="modal_consultorios" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Fale com um de nossos consultores</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="consultorios"></div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Clinicas -->
<div class="modal fade" id="modal_clinicas" tabindex="-1" aria-labelledby="modal_clinicas" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Fale com um de nossos consultores</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="clinicas"></div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Centros de Radiologia -->
<div class="modal fade" id="modal_centros_radiologia" tabindex="-1" aria-labelledby="modal_centros_radiologia" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Fale com um de nossos consultores</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="centros_radiologia"></div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Centrais de Laudo -->
<div class="modal fade" id="modal_centrais_laudo" tabindex="-1" aria-labelledby="modal_centrais_laudo" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Fale com um de nossos consultores</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="centrais_laudo"></div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Hospitais -->
<div class="modal fade" id="modal_hospitais" tabindex="-1" aria-labelledby="modal_hospitais" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Fale com um de nossos consultores</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="hospitais"></div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Cfaz-ciencia -->
<div class="modal fade" id="modal_cfaz_science" tabindex="-1" aria-labelledby="modal_cfaz_science" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Fale com um de nossos consultores</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="cfaz_ciencia"></div>
			</div>
		</div>
	</div>
</div>