<!-- Modal -->
<div class="modal fade" id="contact_modal" tabindex="-1" aria-labelledby="contact_modal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header align-items-start">
				<div>
					<h5><b>{% t navigation.main.contact_us.title %}</b></h5>
					<small>{% t navigation.main.contact_us.subtitle2 %}</small>
				</div>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="form_contact_modal"></div>
			</div>
		</div>
	</div>
</div>