<!-- ======= Gestão Multiclínicas ======= -->
<div class="d-flex align-items-center justify-content-between" data-aos="fade-up">
  <div class="col-md-6 container-xxl">
    <div>
      <h2 class="text-primary"><strong>{% t navigation.main.index.benefits.multiclinic_management %}</strong></h2>
      <p><strong>{% t navigation.main.odontologia_medicina.multiclinic_management.subtitle %}</strong></p>
      <p>{% t navigation.main.odontologia_medicina.multiclinic_management.text1 %}</p>
      <p>{% t navigation.main.odontologia_medicina.multiclinic_management.text2 %}</p>
      <div class="card shadow py-2 border-0 card shadow py-2 border-0">
        <div class="card-body d-flex align-items-center justify-content-between">
          <img src="./assets/img/depoimento-guilherme-resende.png" alt="Foto do Guilherme">
          <div class="ms-3" style="line-height: 110%;">
            <small>{% t navigation.main.odontologia_medicina.multiclinic_management.testimony.text %}</small><br>
            <div class="mt-2">
              <small class="text-secondary-light">{% t navigation.main.odontologia_medicina.multiclinic_management.testimony.information %}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-end">
    <img class="w-90" src="./assets/img/servicos-funcionalidades/gestao-multiclinicas.png" alt="Demonstração da funcionalidade no sistema">
  </div>
</div>