<!-- ======= Gestão Multiclínicas ======= -->
<div class="d-flex align-items-center justify-content-between">
  <div class="col-md-6 container-xxl">
    <div>
      <h2 class="text-primary"><strong>Gestão Multiclínicas</strong></h2>
      <p><strong>Aumente a sua produtividade, reduza custos e melhore seus resultados!</strong></p>
      <p>Administre toda a sua Rede de Centros de Saúde em um único sistema, visualizando indicadores de toda a rede ou de cada centro separadamente.</p>
      <p>Relatórios financeiros e estratégicos podem ser montados em tempo real, considerando um único centro, uma parte ou todas as unidades.</p>
      <div class="card shadow py-2 border-0 card shadow py-2 border-0">
        <div class="card-body d-flex align-items-center justify-content-between">
          <img src="./assets/img/depoimento-guilherme-resende.png">
          <div class="ms-3" style="line-height: 110%;">
            <small>“Escolhi o Cfaz.net pela proposta futurista, um sistema 100% online que integra todas as unidades. Isso me encorajou a abrir novas unidades, pois tudo estaria sob meu controle.”</small><br>
            <div class="mt-2">
              <small class="text-secondary-light">Dr. Guilherme Resende - Diretor das Clínicas Imagem e Odontologia Digital -Cliente Cfaz desde 2014 </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-end">
    <img class="w-90" src="./assets/img/servicos-funcionalidades/gestao-multiclinicas.png" alt="">
  </div>
</div>