<nav id="navbar" class="navbar">
  <ul>
    <li><a class="nav-link scrollto active" href="#hero">{% t pt-BR.navigation.header.menu.home %}</a></li>
    <li><a class="nav-link scrollto" href="#solutions">{% t pt-BR.navigation.header.menu.solutions %}</a></li>
    <li><a class="nav-link scrollto" href="#testimony">{% t pt-BR.navigation.header.menu.testimony %}</a></li>
    <li><a class="nav-link scrollto" href="#about">{% t pt-BR.navigation.header.menu.about %}</a></li>
    <li><a class="nav-link scrollto" href="#contact_us">{% t pt-BR.navigation.header.menu.contact_us %}</a></li>
  </ul>
  <i class="bi bi-list mobile-nav-toggle"></i>
</nav>