<!-- ======= Simplifique a Emissão de Notas Fiscais com a Cfaz ======= -->
<div class="container-xxl">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6 text-center order-2 order-lg-1">
      <img class="w-100" src="./assets/img/servicos-funcionalidades/nota-fiscal.webp" alt="{% t alt.services_features.invoices %}">
    </div>
    <div class="col-md-6 order-1 order-lg-2">
      <h2 class="h4 text-primary"><strong>{% t navigation.main.odontologia_medicina.invoices.title %}</strong></h2>
      <p>{% t navigation.main.odontologia_medicina.invoices.text1 %}</p>
      <p>{% t navigation.main.odontologia_medicina.invoices.text2 %}</p>
      <p>{% t navigation.main.odontologia_medicina.invoices.text3 %}</p>
    </div>
  </div>
</div>