<!-- ======= Simplifique a Emissão de Notas Fiscais com a Cfaz ======= -->
<div class="container-xxl d-flex align-items-center justify-content-between" data-aos="fade-up">
  <div class="col-md-6">
    <img src="./assets/img/servicos-funcionalidades/nota-fiscal.png" alt="">
  </div>
  <div class="col-md-6">
    <h2 class="text-primary"><strong>Simplifique a Emissão de Notas Fiscais com a Cfaz</strong></h2>
    <p>Emita sua Nota Fiscal no Cfaz.net com apenas dois cliques!</p>
    <p>A emissão da nota fiscal é importante para cumprir as obrigações fiscais e garantir transparência nos
      processos.</p>
    <p>Com o custo a partir de R$ 0,35 por nota, seu cliente recebe a nota diretamente no e-mail e você pode
      centralizar mais esse serviço dentro do Cfaz.net!</p>
  </div>
</div>