<!-- ======= RIS e PACS 100% Online ======= -->
<div class="container-xxl d-flex align-items-center justify-content-between">
  <div class="col-md-6">
    <h2 class="text-primary"><strong>RIS e PACS 100% Online</strong></h2>
    <p>Com o <strong>RIS</strong> em Nuvem do Cfaz.net você garante agilidade em todos os processos do seu Centro de
      Radiologia, incluindo Agendamentos, Prontuário Eletrônico do Paciente (PEP), Gestão Financeira e Controle de
      Convênios e Glosas.</p>
    <p>Além disso, nosso <strong>PACS</strong> em Nuvem é 100% integrado com o RIS, através do serviço de Worklist.
      Essa integração garante uma gestão eficiente e unificada de todos os processos do Centro de Saúde.</p>
  </div>
  <div class="col-md-6 text-center">
    <img src="./assets/img/servicos-funcionalidades/ris-pacs.png" alt="">
  </div>
</div>