<!-- ======= RIS e PACS 100% Online ======= -->
<div class="container-xxl">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h2 class="h4 text-primary"><strong>{% t navigation.main.hospitais.ris_pacs.title %}</strong></h2>
      <p>{% t navigation.main.hospitais.ris_pacs.text %}</p>
      <p>{% t navigation.main.hospitais.ris_pacs.text2 %}</p>
    </div>
    <div class="col-md-6 text-center">
      <img class="w-50 w-lg-auto" src="./assets/img/servicos-funcionalidades/ris-pacs.webp" loading="lazy" alt="{% t alt.services_features.ris_pacs %}">
    </div>
  </div>
</div>