<!-- ======= RIS e PACS 100% Online ======= -->
<div class="container-xxl d-flex align-items-center justify-content-between" data-aos="fade-up">
  <div class="col-md-6">
    <h2 class="text-primary"><strong>{% t navigation.main.hospitais.ris_pacs.title %}</strong></h2>
    <p>{% t navigation.main.hospitais.ris_pacs.text %}</p>
    <p>{% t navigation.main.hospitais.ris_pacs.text2 %}</p>
  </div>
  <div class="col-md-6 text-center">
    <img src="./assets/img/servicos-funcionalidades/ris-pacs.png" alt="Demonstração da funcionalidade no sistema">
  </div>
</div>