<!-- ======= Armazenamento por 20 anos* ======= -->
<div class="container-xxl">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6 order-2 order-md-1 text-center">
      <img class="w-50 w-lg-auto" src="./assets/img/servicos-funcionalidades/armazenamento.webp" alt="{% t alt.services_features.storage %}">
    </div>
    <div class="col-md-6 order-1 order-md-2">
      <h2 class="h4 text-primary"><strong>{% t navigation.main.index.benefits.storage %}*</strong></h2>
      <p>{% t navigation.main.hospitais.storage.text %}</p>
      <p>{% t navigation.main.hospitais.storage.text2 %}</p>
      <small>{% t navigation.main.hospitais.storage.note %}</small>
    </div>
  </div>
</div>