<!-- ======= Armazenamento por 20 anos* ======= -->
<section id="storage" class="py-5">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <div class="col-md-7 text-center">
      <img src="./assets/img/servicos-funcionalidades/armazenamento.png" alt="">
    </div>
    <div class="col-md-5">
      <h2 class="text-primary"><strong>Armazenamento por 20 anos*</strong></h2>
      <p>Atendendo às normas de todos conselhos de saúde: CFO, CFM e ANVISA. </p>
      <p>Armazenamento ilimitado e 100% seguro na Nuvem, com máxima qualidade de imagens e exames. Graças à infraestrutura fornecida pela Google Cloud Platform, empresa referência mundial em segurança de dados e estabilidade de conexão.</p>
      <small>*Válido durante a vigência do contrato</small>
    </div>
  </div>
</section>