<!-- ======= Armazenamento por 20 anos* ======= -->
<div class="container-xxl d-flex align-items-center justify-content-between" data-aos="fade-up">
  <div class="col-md-6 text-center">
    <img src="./assets/img/servicos-funcionalidades/armazenamento.png" alt="Aparelhos conectados a um servidor">
  </div>
  <div class="col-md-6">
    <h2 class="text-primary"><strong>{% t navigation.main.index.benefits.storage %}*</strong></h2>
    <p>{% t navigation.main.hospitais.storage.text %}</p>
    <p>{% t navigation.main.hospitais.storage.text2 %}</p>
    <small>{% t navigation.main.hospitais.storage.note %}</small>
  </div>
</div>