<!-- ======= Telerradiologia ======= -->
<section id="teleradiology" class="my-5">
  <div class="container-xxl d-flex align-items-center justify-content-between">
    <div class="col-md-6">
      <h2 class="h4 text-primary"><strong>{% t navigation.main.hospitais.teleradiology.title %}</strong></h2>
      <p>Conectamos seu Centro de Radiologia a profissionais de todo o Brasil e do exterior por meio de uma plataforma unificada com soluções projetadas para facilitar a terceirização de laudos e exames. Você envia as imagens para seus laudadores e recebe os laudos concluídos, tudo pelo Cfaz.net.</p>
      <div class="card shadow py-2 border-0 card shadow py-2 border-0">
        <div class="card-body d-flex align-items-center justify-content-between">
          <img src="./assets/img/depoimento-monica.webp" loading="lazy" alt="{% t alt.services_features.teleradiology.testimony %}">
          <div class="ms-3" style="line-height: 110%;">
            <small>“O Cfaz.net nos conecta com radiologistas e centros de imagem, sendo ideal para telerradiologia. Sua plataforma online na nuvem otimiza o trabalho, criando um fluxo digital eficiente para mais de 30 centros radiológicos na América Latina e Europa.”</small><br>
            <div class="mt-2">
              <small class="text-secondary-light">Dra. Monica Pinã - Proprietária TRADIT 3D - Cliente Cfaz há 2 anos</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <img class="w-100" src="./assets/img/servicos-funcionalidades/telerradiologia.webp" loading="lazy" alt="{% t alt.services_features.teleradiology.apresentation %}">
    </div>
  </div>
</section>