<section id="tomography" class="mt-64">
  <div class="container">
    <div class="row">
      <div class="mb-40" data-aos="zoom-in">
        <h5 class="text-primary mb-32"><b>{% t navigation.main.tomography.title %}</b></h5>
        <p>{% t navigation.main.tomography.subtitle %}</p>
      </div>
      <div class="d-flex justify-content-center" data-aos="zoom-in" data-aos-delay="200">
        <img class="shadow" src="assets/img/tomografia1.png" alt="Imagem Tomografia">
        <img class="shadow" src="assets/img/tomografia2.png" alt="Imagem Tomografia">
      </div>
    </div>
  </div>
</section>