<section id="tomography" class="mt-64">
  <div class="container">
    <div>
      <div class="mb-40" data-aos="zoom-in">
        <h2 class="text-primary mb-32"><strong>{% t navigation.main.tomography.title %}</strong></h2>
        <div class="row">
          <div class="col col-md-6 col-sm-12">
            <p>{% t navigation.main.tomography.subtitle %}</p>
          </div>
          <div class="col col-md-6 col-sm-12">
            <p>{% t navigation.main.tomography.subtitle2 %}</p>
          </div>
        </div>
      </div>
      <div class="tomography-images" data-aos="zoom-in" data-aos-delay="200">
        <img class="shadow mt-8" src="assets/img/tomografia1.webp" alt="{% t alt.tomography %}">
        <img class="shadow mt-8" src="assets/img/tomografia2.webp" alt="{% t alt.tomography %}">
      </div>
    </div>
  </div>
</section>