<section id="tomography">
  <div class="container">
    <div class="row">
      <div class="col col-md-7 mb-40">
        <h5 class="text-primary mb-32"><b>Tomografia</b></h5>
        <p>Armazenamento e distribuição de tomografias 100% online, além de visualizador com reconstrução volumétrica MPR (Multiplanar Reconstruction).</p>
      </div>
      <div class="d-flex justify-content-center">
        <img class="shadow" src="assets/img/tomografia1.png" alt="Imagem Tomografia">
        <img class="shadow" src="assets/img/tomografia2.png" alt="Imagem Tomografia">
      </div>
    </div>
  </div>
</section>