/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, a, p, span, button, small{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1{
  font-size: 35px;
}

p, a{
  color: #9D9D9D;
  margin: 0;
}

h1{
  font-size: 112px;
  line-height: 120%;
}

h2{
  font-size: 84px;
  line-height: 120%;
}

h3{
  font-size: 63px;
  line-height: 120%;
}

h4{
  font-size: 47px;
  line-height: 120%;
}

h5{
  font-size: 31px;
  line-height: 120%;
}

h6{
  font-size: 21px;
  line-height: 120%;
}

p{
  font-size: 16px;
  line-height: 150%;
}

small{
  font-size: 12px;
  line-height: 120%;
}

b{
  font-weight: bold;
}

.mt-80{
  margin-top: 80px;
}

.mb-80{
  margin-bottom: 80px;
}

.mt-64{
  margin-top: 64px;
}

.mb-64{
  margin-bottom: 64px;
}

.mt-40{
  margin-top: 40px;
}

.mt-32{
  margin-top: 32px;
}

.mt-24{
  margin-top: 24px;
}

.mt-8{
  margin-top: 8px;
}

.mb-8{
  margin-bottom: 8px;
}

.mb-16{
  margin-bottom: 8px;
}

.mb-54{
  margin-bottom: 54px;
}

.mb-40{
  margin-bottom: 40px;
}

.mb-32{
  margin-bottom: 32px;
}

.mb-24{
  margin-bottom: 24px;
}

.mt-80{
  margin-top: 80px;
}

.mr-16{
  margin-right: 16px
}

.pt-80{
  padding-top: 80px;
}

.pt-40{
  padding-top: 40px;
}

.pb-80{
  padding-bottom: 80px;
}

.pb-64{
  padding-bottom: 40px;
}

.pb-40{
  padding-bottom: 40px;
}

a:hover{
  text-decoration: underline;
}

.card_header{
  width: 100%;
  border: none;
  border-radius: 15px;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #E79824;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #FFFFFF;
  line-height: 0;
}

.back-to-top:hover {
  background: #E79824;
  color: #FFFFFF;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
#header.header-scrolled {
  background: #E79824;
  height: 60px;
}

#hero {
  width: 100%;
  background: url("../img/headers/home.png");
  position: relative;
  padding: 120px 0 0 0;
  border-radius: 0 0 0 130px;
}

#hero:before {
  content: "";
  background-image: url("../img/headers/home.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

/*button*/
.btn-primary {
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 16px;
  border-radius: 15px;
  transition: 0.5s;
  color: #E79824;
  background: #FFFFFF;
  border: 1px solid #E79824;
}
  
.btn-primary:hover {
  color: #AF6625;
  background: #FFFFFF;
  border: 1px solid #AF6625;
}

.btn-primary:active, 
.btn-primary:focus,
.btn-primary:active:focus {
  color: #EBA947;
  background: #FFFFFF;
  border: 1px solid #EBA947;
  box-shadow: 0 0 0 0.25rem rgb(235 169 71 / 50%);
}

.btn-secondary {
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 16px;
  border-radius: 15px;
  transition: 0.5s;
  color: #FFFFFF;
  background: #4E4D4D;
  border: 1px solid #4E4D4D;
}
  
.btn-secondary:hover {
  color: #FFFFFF;
  background: #292929;
  border: 1px solid #4E4D4D;
}

.btn-secondary:active, 
.btn-secondary:focus,
.btn-secondary:active:focus {
  color: #FFFFFF;
  background: #FFFFFF;
  border: 1px solid #8F8F8F;
  box-shadow: 0 0 0 0.25rem rgb(143 143 143 / 50%);
}

.text-primary{
  color: #E79824 !important;
}

.bg-primary{
  background-color: #E79824 !important;
}

.text-secondary{
  color: #4E4D4D !important;
}

.divider{
  width: 100%;
  height: 1px;
  background-color: #D4D4D4;
  margin: 40px 0;
}

/*--------------------------------------------------------------
# Soluções
--------------------------------------------------------------*/
#solutions .card{
  height: 90%;
  border-radius: 15px;
  border-color: #E79824 !important;
}

#solutions a:hover{
  text-decoration: none;
}

#solutions a:hover .card{
  transition: all ease-in-out 0.4s;
  border-color: #AF6625 !important;
}

#solutions a:hover .card h6 b{
  transition: all ease-in-out 0.4s;
  color: #AF6625;
}

/*--------------------------------------------------------------
# Depoimentos
--------------------------------------------------------------*/
#testimony{
  width: 80%;
  position: relative;
  background-color: #E79824;
  border-radius: 0 0 0 60px;
  margin-left: auto;
}

#testimony img{
  width: 60px;
  margin-right: 8px;
  border: 2px solid #FFFFFF;
  border-radius: 100%;
}

#testimony .swiper-pagination{
  position: relative;
}

#testimony .swiper-pagination .swiper-pagination-bullet{
  width: 8px;
  height: 8px;
  background-color: #FFFFFF;
  margin: 0 4px;
}

#testimony .swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: 0;
}


/*--------------------------------------------------------------
# Fale Conosco
--------------------------------------------------------------*/
#contact_us img{
  margin-right: 8px;
}

/*--------------------------------------------------------------
# Benefícios
--------------------------------------------------------------*/
#benefit_home{
  background-image: url("../img/benefícios.png");
  background-size: cover;
  padding: 54px;
}

#benefit_home img{
  width: 65px;
  margin-right: 32px;
}

/*--------------------------------------------------------------
# Tomografia
--------------------------------------------------------------*/
#tomography img{
  height: 250px;
  margin: 0 16px;
}

/*--------------------------------------------------------------
# Telerradiologia
--------------------------------------------------------------*/
#teleradiology{
  background-image: url("../img/telerradiologia.png");
  background-size: cover;
  padding: 54px;
}

#teleradiology .card{
  padding: 48px 56px;
  margin: 0 16px;
  height: 315px;
  border-radius: 15px;
  border: none;
}

#teleradiology span{
  width: 100%;
  height: 1px;
  background-color: #9D9D9D;
  margin-top: 8px;
  margin-bottom: 16px;
}

/*--------------------------------------------------------------
# Programa de benefícios
--------------------------------------------------------------*/
#appCfaz img{
  width: 100%;
}

/*--------------------------------------------------------------
# Programa de benefícios
--------------------------------------------------------------*/
#benefits_program img{
  width: 236px;
  height: 270px;
}

#benefits_program .partners-container{
  background-color: #EDE9F0;
  padding: 24px 0;
}

#benefits_program .swiper-slide{
  background-color: #FFFFFF;
  height: 96px;
  border-radius: 5px;
  margin-bottom: 30px;
}

#benefits_program .swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: 0;
}

#benefits_program .swiper-slide img{
  width: 90%;
  height: auto;
  padding: 35px;
}

#benefits_program .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
  background-color: #E79824;
}

/*--------------------------------------------------------------
# Meio ambiente
--------------------------------------------------------------*/
#environment{
  background-color: #E79824;
  padding: 64px 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer{
  background-color: #4E4D4D;
  padding: 64px 0;
}

#footer .item{
  margin-bottom: 8px;
}

#footer img{
  width: 24px;
  margin-right: 16px;
}

/*-------------------------------------------------------------------------------------------------
# SOBRE A CFAZ
-------------------------------------------------------------------------------------------------*/
#about_hero{
  width: 100%;
  background: url("../img/headers/sobre.png");
  padding: 110px 0 32px 0;
}

#purpose_view .item img{
  width: 32px;
}

#purpose_view .item{
  padding: 32px;
  height: 100%;
  border-radius: 15px;
}

#team .card{
  border: none;
}

#team .informations{
  padding: 8px 16px;
}

#team .btn{
  border: 2px solid transparent;
}

#team .btn:hover,
#team .btn.active{
  border: 2px solid #E79824;
}

.filter {
  display: none;
}

.show {
  display: block;
}

/*-------------------------------------------------------------------------------------------------
# RADIOLOGIA ODONTOLOGICA
-------------------------------------------------------------------------------------------------*/
#dental_radiology_hero{
  width: 100%;
  background: url("../img/headers/radiologia_odontologica.png");
  position: relative;
  padding: 80px 0 40px 0;
  border-radius: 0 0 0 130px;
}

/*--------------------------------------------------------------
# Benefícios
--------------------------------------------------------------*/
#benefit_transformation img,
#benefit_produtivity img{
  width: 65px;
  margin-right: 32px;
}

/*-------------------------------------------------------------------------------------------------
# CENTROS MÉDICOS
-------------------------------------------------------------------------------------------------*/
#medical_centers_hero{
  width: 100%;
  background: url("../img/headers/centros_medicos.png");
  position: relative;
  padding: 80px 0 40px 0;
  border-radius: 0 0 0 130px;
}

/*-------------------------------------------------------------------------------------------------
# TELERRADIOLOGIA
-------------------------------------------------------------------------------------------------*/
#teleradiology_hero{
  width: 100%;
  background: url("../img/headers/teleradiologia.png");
  position: relative;
  padding: 80px 0 40px 0;
  border-radius: 0 0 0 130px;
}

/*-------------------------------------------------------------------------------------------------
# ODONTOLOGIA
-------------------------------------------------------------------------------------------------*/
#odontology_hero{
  width: 100%;
  background: url("../img/headers/odontologia.png");
  position: relative;
  padding: 80px 0 40px 0;
  border-radius: 0 0 0 130px;
}

/*-------------------------------------------------------------------------------------------------
# ESTUDANTES E INSTITUIÇÕES DE ENSINO
-------------------------------------------------------------------------------------------------*/
#students_institutions_hero{
  width: 100%;
  background: url("../img/headers/estudantes_instituicoes.png");
  position: relative;
  padding: 80px 0 40px 0;
  border-radius: 0 0 0 130px;
}

#cfazCiencia .enterprise img{
  width: 70px;
  margin: 0 8px;
}

#phrase{
  width: 100%;
  background: url("../img/estudantes_instituicoes_fundo_frase.png");
  padding: 160px 0;
}




















