---
permalink: /default/
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-M5XT6T9');</script>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> <!-- ADICIONADA -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- <title>Cfaz.net</title> -->
    <!-- <meta name="description" content="Software 100% online para gerenciamento de clínica radiológica, realização de laudos e traçados cefalométricos, construção de templates e tereceirização de exames"> -->
    <!-- <meta name="keywords" content="software de gestão, sistema de gestão, armazenamento em nuvem, exame digital, agendamento, gestão hospitalar, gestão clínica, policlínica, pacs, ris, gestão financeira, healthtech, cefalometria, cefalograma, radiografia, radiologia odontológica, laudo, diagnóstico, traçado cefalométrico, traçado online, radiografia digital, dry, tomografia, clínica de radiologia, diagnóstico por imagem, startup"> -->
    
    <!-- Pesquisar sobre essa -->
    <meta name="robots" content="noindex"> <!-- ADICIONADA -->
    <meta http-equiv="content-language" content="pt-br, en, es"/> <!-- ADICIONADA -->


    <meta name="author" content="www.cfaz.net">
    <meta name="facebook-domain-verification" content="hlnpg1y0ikeqlct2x86dw0ypr95ik3"/>
    
    <meta property="og:title" content="Software 100% online para gerenciamento de clínica radiológica, realização de laudos e traçados cefalométricos, construção de templates e tereceirização de exames">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Sistema nativo em nuvem e 100% online para a gestão de ponta a ponta de centros de diagnóstico por imagem, desde o agendamento, passando pela gestão financeira da clínica, realização de laudos e traçados cefalométricos, construção de templates, terceirização até a entrega do exame ao solicitante.">
    <meta property="og:site_name" content="cfaz.net">
    <meta property="og:url" content="https://www.cfaz.net/">
    <meta property="article:author" content="cfaz.net">
    <meta property="article:publisher" content="cfaz.net">
    <meta property="og:image" content="https://cfaz.net/assets/img/compartilhamento.jpg">
    <meta property="og:image:url" content="https://cfaz.net/assets/img/compartilhamento.jpg">
    <meta property="og:image:secure_url" content="https://cfaz.net/assets/img/compartilhamento.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">

    <!-- Favicons -->
    <link href="assets/img/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    
    <!-- Carousel -->
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/custom.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M5XT6T9" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->

    <header id="header" class="container-xxl fixed-top d-flex align-items-center justify-content-between bg-white">
      <a class="navbar-brand" href="index.html"><img src="assets/img/Logo.png" alt="Logomarca cfaz" style="width: 60%"></a>
      
      <nav class="navbar navbar-expand-lg">
        <div class="container-xxl">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="hospitais.html">{% t navigation.header.hospitals %}</a></li>
              <li class="nav-item"><a class="nav-link" href="radiologia.html">{% t navigation.header.radiology %}</a></li>
              <li class="nav-item"><a class="nav-link" href="odontologia_medicina.html">{% t navigation.header.dentistry_medicine %}</a></li>
              <li class="nav-item"><a class="nav-link" href="veterinaria.html">{% t navigation.header.veterinary %}</a></li>
              <li class="nav-item"><a class="nav-link" href="index.html#contato">{% t navigation.header.contacts %}</a></li>
              <li class="nav-item"><a class="nav-link" target="_blank" href="http://kb.cfaz.net/">{% t navigation.header.blog %}</a></li>
              <li class="nav-item"><a class="nav-link" href="sobre.html">{% t navigation.header.about_us %}</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="locale">
        {% capture pr-BR %}{{ page.url}}{% endcapture %}
        {% capture es %}/es{{ page.url}}{% endcapture %}
        {% capture en %}/en{{ page.url}}{% endcapture %}
        <a href="{{ pr-BR }}"><span class="position-absolute" style="z-index:-1">pt</span><img src="assets/img/icons/bandeira_pt-BR.png" aria-label="{% t alt.flag_pt-BR %}" alt="{% t alt.flag_pt-BR %}"></a>
        <a href="{{ es }}"><span class="position-absolute" style="z-index:-1">es</span><img src="assets/img/icons/bandeira_es.png" aria-label="{% t alt.flag_pt-BR %}" alt="{% t alt.flag_es %}"></a>
        <a href="{{ en }}"><span class="position-absolute" style="z-index:-1">en</span><img src="assets/img/icons/bandeira_en.png" aria-label="{% t alt.flag_pt-BR %}" alt="{% t alt.flag_en %}"></a>
        <input id="language" type="hidden" value="{{ site.lang }}">
      </div>
      <a class="btn btn-cta" target="_blank" href="https://max.cfaz.net/">{% t navigation.header.enter %}</a>
    </header>

    <main>
      {{content}}
    </main>

    <footer id="footer" class="pt-4 pb-3">
      <div class="container-xxl">
        <section class="d-flex justify-content-between align-items-center">
          <a href="index.html"><img src="../assets/img/footer_logo.png" alt="Logo da cfaz"></a>
          
          <div class="d-flex align-items-end justify-content-around">
            <img class="me-4" src="../assets/img/icons/footer-hippaa.png" alt="Logo da HIPPA">
            <img class="me-4" src="../assets/img/icons/footer-lgpd.png" alt="Logo da LGPD">
            <img class="me-4" src="../assets/img/icons/footer-google.png" alt="Logo da Google Cloud Platform">
            <img src="../assets/img/icons/footer-anvisa.png" alt="Logo da Anvisa">
          </div>

          <div class="locale">
            {% capture pr-BR %}{{ page.url}}{% endcapture %}
            {% capture es %}/es{{ page.url}}{% endcapture %}
            {% capture en %}/en{{ page.url}}{% endcapture %}
            <a href="{{ pr-BR }}"><span class="position-absolute" style="z-index:-1">pt</span><img src="assets/img/icons/bandeira_pt-BR.png" aria-label="{% t alt.flag_pt-BR %}" alt="{% t alt.flag_pt-BR %}"></a>
            <a href="{{ es }}"><span class="position-absolute" style="z-index:-1">es</span><img src="assets/img/icons/bandeira_es.png" aria-label="{% t alt.flag_pt-BR %}" alt="{% t alt.flag_es %}"></a>
            <a href="{{ en }}"><span class="position-absolute" style="z-index:-1">en</span><img src="assets/img/icons/bandeira_en.png" aria-label="{% t alt.flag_pt-BR %}" alt="{% t alt.flag_en %}"></a>
            <input id="language" type="hidden" value="{{ site.lang }}">
          </div>
        </section>
      </div>

      <hr class="border border-1">

      <div class="container-xxl">
        <div class="d-flex justify-content-between align-items-center">
          <div style="line-height: 100%;">
            <small class="text-white-gray">{% t navigation.main.footer.developed %}</small><br>
            <small class="text-white-gray">2013 - <span id="current_year"></span></small>
          </div>
          <div>
            <a class="text-white-gray hover_underline" href="politica_privacidade.html" target="_blank">
              <small class="text-white-gray">{% t navigation.main.footer.privacy_policy %}</small>
            </a>
          </div>
        </div>
      </div>
    </footer>

    <div id="cookieNotice" class="position-fixed fixed-bottom bg-white p-4 m-3 rounded shadow">
      <div class="d-flex align-items-center justify-content-center">
        <div>
          <span>{% t navigation.main.cookies_confirmation %}</span>
        </div>
        <div>
          <button class="btn btn-secondary btn-sm" onclick="acceptCookieConsent();">Aceitar</button>
        </div>
      </div>
    </div>

    {% include modal.html %}

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><img src="assets/img/icons/seta_cima.png" alt="Ícone de seta para cima"></a>
    <div id="preloader"></div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- Vendor JS Files -->
    <script charset="utf-8" type="text/javascript" src="assets/vendor/aos/aos.js"></script>
    <!-- <script charset="utf-8" type="text/javascript" src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script charset="utf-8" type="text/javascript" src="assets/vendor/swiper/swiper-bundle.min.js"></script> 
    <script charset="utf-8" type="text/javascript" src="assets/vendor/hubspot/hubspot.js"></script>
    <script>AOS.init({})</script>

    <!-- JS File -->
    <script charset="utf-8" type="text/javascript" src="assets/js/main.js"></script>
    <script charset="utf-8" type="text/javascript" src="assets/js/hubspot_form.js"></script>
    <script charset="utf-8" type="text/javascript" src="assets/js/filter_team.js"></script>
    <script charset="utf-8" type="text/javascript" src="assets/js/cookie_consent.js"></script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NVH38EZE5V%22%3E"></script>

    <!-- Google Ads -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-754517111%22%3E"></script>
  </body>
  </html>