---
permalink: /default/
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <title>Cfaz.net</title>
    <meta content="Software 100% online para gerenciamento de clínica radiológica, realização de laudos e traçados cefalométricos, construção de templates e tereceirização de exames" name="description">
    <meta content="software de gestão, sistema de gestão, armazenamento em nuvem, exame digital, agendamento, gestão hospitalar, gestão clínica, policlínica, pacs, ris, gestão financeira, healthtech, cefalometria, cefalograma, radiografia, radiologia odontológica, laudo, diagnóstico, traçado cefalométrico, traçado online, radiografia digital, dry, tomografia, clínica de radiologia, diagnóstico por imagem, startup" name="keywords">
    <meta name="author" content="www.cfaz.net">
    <meta property="og:image" content="assets/img/teste.png">
    <meta property="og:image:width" content="423">
    <meta property="og:image:height" content="270">
    <meta property="og:title" content="Software 100% online para gerenciamento de clínica radiológica, realização de laudos e traçados cefalométricos, construção de templates e tereceirização de exames">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Sistema nativo em nuvem e 100% online para a gestão de ponta a ponta de centros de diagnóstico por imagem, desde o agendamento, passando pela gestão financeira da clínica, realização de laudos e traçados cefalométricos, construção de templates, terceirização até a entrega do exame ao solicitante.">
    <meta property="og:site_name" content="Cfaz.net">
    <meta property="og:url" content="https://www.site.cfaz.net/">
    <meta property="article:author" content="cfaz.net">
    <meta property="article:publisher" content="cfaz.net">

    <!-- Favicons -->
    <link href="assets/img/favicon.ico" rel="icon">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link href="assets/css/styles.css" rel="stylesheet">
  </head>
  
  <body>
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
      <div class="container d-flex align-items-center justify-content-between">
        
        <div class="logo">
          <a href="index.html"><img src="assets/img/logo.png" alt="{% t alt.logo %}" class="img-fluid"></a>
        </div>
        
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="index.html#hero">{% t navigation.header.menu.home %}</a></li>
            <li class="nav-divider"></li>
            <li class="dropdown">
              <a class="nav-link">{% t navigation.header.menu.solutions %}<i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="radiologia_odontologica.html">Radiologia Odontológica</a></li>
                <li><a href="centros_medicos.html">Centros Médicos</a></li>
                <li><a href="telerradiologia.html">Telerradiologia</a></li>
                <li><a href="odontologia.html">Odontologia</a></li>
                <li><a href="estudantes_instituicoes.html">Estudantes e Instituições de Ensino</a></li>
              </ul>
            </li>
            <li class="nav-divider"></li>
            <li><a class="nav-link scrollto" href="index.html#testimony">{% t navigation.header.menu.testimony %}</a></li>
            <li class="nav-divider"></li>
            <li><a class="nav-link scrollto" href="index.html#about">{% t navigation.header.menu.about %}</a></li>
            <li class="nav-divider"></li>
            <li class="dropdown">
              <a class="nav-link">{% t navigation.header.menu.contact_us.title %}<i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="index.html#contact_us">{% t navigation.header.menu.contact_us.commercial %}</a></li>
                <li><a target="_blank" href="http://kb.cfaz.net/">{% t navigation.header.menu.contact_us.support %}</a></li>
              </ul>
            </li>
            <li class="nav-divider"></li>
            <li><a class="nav-link" target="_blank" href="https://blog.cfaz.net/">{% t navigation.header.menu.blog %}</a></li>
            <li class="dropdown btn-tertiary">
              <a>{% t navigation.header.btn_enter %} <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a target="_blank" href="https://www.cfaz.net/">CfazMax</a></li>
                <li><a target="_blank" href="https://manager.cfaz.net/">CfazManager</a></li>
              </ul>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        
        <div class="locale">
          {% capture pr-BR %}{{ page.url}}{% endcapture %}
          {% capture es %}/es{{ page.url}}{% endcapture %}
          {% capture en %}/en{{ page.url}}{% endcapture %}
          <a href="{{ pr-BR }}"><img src="assets/img/icones/bandeira_pt-BR.png" alt="{% t alt.flag_pt-BR %}"></a>
          <a href="{{ es }}"><img src="assets/img/icones/bandeira_es.png" alt="{% t alt.flag_es %}"></a>
          <a href="{{ en }}"><img src="assets/img/icones/bandeira_en.png" alt="{% t alt.flag_en %}"></a>
          <input id="language" type="hidden" value="{{ site.lang }}">
        </div>
      </div>
    </header>
    
    <main>
      {{content}}
    </main>
    
    <footer id="footer">
      <div class="container">
        <div class="footer-container">
          <div>
            <h6 class="text-white"><b>{% t navigation.footer.contact_us %}</b></h6>
            <p class="mt-24 text-white"><b>{% t navigation.footer.commercial %}</b></p>
            <div class="footer-item mt-8 mb-8">
              <img src="assets/img/icones/footer_whatsapp.png" alt="{% t alt.icons.whatsapp %}">
              <p class="mb-0"><a class="hover_underline" target="_blank" href="https://api.whatsapp.com/send?phone=553.199456731994567e+21&text=Ol%C3%A1!%20Gostaria%20de%20conhecer%20o%20sistema%20Cfaz.net">(31) 99456-7022</a></p>
            </div>
            <div class="footer-item mt-8">
              <img src="assets/img/icones/footer_email.png" alt="{% t alt.icons.email %}">
              <p class="mb-0"><a href="mailto:vendas@cfaz.net" class="hover_underline">vendas@cfaz.net</a></p>
            </div>
            <p class="mt-24 text-white"><b>{% t navigation.footer.support %}</b></p>
            <div class="footer-item mt-8">
              <img src="assets/img/icones/footer_whatsapp.png" alt="{% t alt.icons.whatsapp %}">
              <p class="mb-0"><a class="hover_underline" target="_blank" href="https://api.whatsapp.com/send?phone=+553139560980">(31) 3956-0980</a></p>
            </div>
            <div class="footer-item mt-8">
              <img src="assets/img/icones/footer_fone.png" alt="{% t alt.icons.call_center %}">
              <p class="mb-0"><a class="hover_underline" target="_blank" href="http://kb.cfaz.net/">{% t navigation.footer.call_center %}</a></p>
            </div>
          </div>
          
          <div class="footer-mobile">
            <div class="footer-item">
              <img src="assets/img/icones/icone_beneficios.png" alt="{% t alt.icons.gift %}">
              <h6 class="mb-0"><a target="_blank" href="https://beneficios.cfaz.net/" class="text-white hover_underline"><b>{% t navigation.footer.benefits_program %}</b></a></h6>
            </div>
            <div class="mt-40">
              <h6 class="text-white"><b>{% t navigation.footer.follow_on_social_media %}</b></h6>
              <div class="mt-24">
                <a target="_blank" href="https://www.instagram.com/cfaznet/"><img src="assets/img/icones/footer_instagram.png" alt="{% t alt.instagram %}"></a>
                <a target="_blank" href="https://www.facebook.com/cfaz.net/"><img src="assets/img/icones/footer_facebook.png" alt="{% t alt.facebook %}"></a>
                <a target="_blank" href="https://www.youtube.com/channel/UCv14GXXqg2RBbXZcc3qZqcg"><img src="assets/img/icones/footer_youtube.png" alt="{% t alt.youtube %}"></a>
                <a target="_blank" href="https://www.linkedin.com/company/cfaz-net"><img src="assets/img/icones/footer_linkedin.png" alt="{% t alt.linkedin %}"></a>
              </div>
            </div>
            <div class="blazon card mt-32">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 mb-8 text-center">
                    <img src="assets/img/brasoes/gcp.png" alt="{% t alt.GCP %}">
                  </div>
                  <!-- <div class="col-md-6 mb-8 text-center">
                    <img src="assets/img/brasoes/hipaa.png" alt="{% t alt.HIPPA %}">
                  </div> -->
                  <div class="col-md-6 mb-8 text-center">
                    <img src="assets/img/brasoes/LGPD.webp" alt="{% t alt.LGPD %}">
                  </div>
                  <!-- <div class="col-md-6 mb-8 text-center">
                    <img src="assets/img/brasoes/anvisa.png" alt="{% t alt.ANVISA %}">
                  </div> -->
                </div>
              </div>
            </div>
          </div>
    
          <div class="footer-mobile">
            <h6 class="text-white"><b>{% t navigation.footer.blog_posts %}</b></h6>
            <p class="mt-32">{% t navigation.footer.newsletter %}</p>
            <div class="mt-24">
              <div id="newsletter"></div>
            </div>
            <div class="mt-24">
              <p class="mt-40"><a target="_blank" href="https://blog.cfaz.net/" class="hover_underline">{% t navigation.footer.all_blog_posts %}</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="author text-center p-24">
        <p class="text-white">Desenvolvido por Cfaz.net</p>
      </div>
    </footer>
    
    {% include modal.html %}
    
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>
    
    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    
    <!-- JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/filter_team.js"></script>

    <!-- Hubspot -->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
    
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NVH38EZE5V%22%3E"></script>
  </body>
  </html>